.sek-accord-wrapper {
  text-align: left;
}

.sek-accord-wrapper .sek-accord-item {
  border: 1px solid #e3e3e3;
  overflow: hidden;
}

.sek-accord-wrapper .sek-accord-item:not(:last-child) {
  margin-bottom: 0px;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title {
  cursor: pointer;
  color: #565656;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e3e3e3;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title:hover * {
  color: #1e261f;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title:hover .expander span {
  background: #1e261f;
}

[data-sek-expanded="true"] .sek-accord-title * {
  color: #1e261f;
}

[data-sek-expanded="true"] .sek-accord-title .expander span {
  background: #1e261f;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title .sek-inner-accord-title {
  padding-right: 10px;
  max-width: calc(100% - 30px);
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title .sek-inner-accord-title, .sek-accord-wrapper .sek-accord-item .sek-accord-title .expander span {
  transition: all 0.15s ease-in-out;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title .expander {
  color: #1e261f;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  background: none;
  box-shadow: none;
  font-size: 1.5em;
  position: relative;
  cursor: pointer;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title .expander span {
  position: absolute;
  transition: .3s;
  background: #565656;
  border-radius: 2px;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title .expander span:first-of-type {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title .expander span:last-of-type {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

[data-sek-expanded="true"] .expander span:first-of-type, [data-sek-expanded="true"] .expander span:last-of-type {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

[data-sek-expanded="true"] .expander span:last-of-type {
  left: 50%;
  right: 50%;
}

[data-sek-has-global-border="true"][data-sek-has-title-border="true"] [data-sek-expanded="false"] .sek-accord-title {
  border-bottom: none;
}

[data-sek-has-global-border="true"][data-sek-has-title-border="true"] .sek-accord-item:not(:last-child) {
  border-bottom: none;
}

.sek-accord-wrapper .sek-accord-item[data-sek-expanded="true"] .sek-accord-title .expander span:first-of-type, .sek-accord-wrapper .sek-accord-item[data-sek-expanded="true"] .sek-accord-title .expander span:last-of-type {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sek-accord-wrapper .sek-accord-item[data-sek-expanded="true"] .sek-accord-title .expander span:last-of-type {
  left: 50%;
  right: 50%;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-content {
  padding: 15px 20px;
  background: #f2f2f2;
  color: #1e261f;
  font-size: 16px;
  line-height: 1.5em;
}

.sek-accord-wrapper .sek-accord-item[data-sek-expanded="true"] > .sek-accord-content {
  display: block;
}

.sek-accord-wrapper .sek-accord-item[data-sek-expanded="false"] > .sek-accord-content {
  display: none;
}
