/*************************************
* ICON MODULE
*************************************/
[data-sek-module-type="czr_icon_module"] {
  text-align: center;
  color: #5a5a5a;
  font-size: 15px;
}

[data-sek-module-type="czr_icon_module"] a.sek-icon,
[data-sek-module-type="czr_icon_module"] a.sek-icon:hover,
[data-sek-module-type="czr_icon_module"] a.sek-icon:focus,
[data-sek-module-type="czr_icon_module"] a.sek-icon:active,
[data-sek-module-type="czr_icon_module"] a.sek-icon.active {
  color: inherit;
}

[data-sek-module-type="czr_icon_module"] .box-shadow .sek-icon-wrapper {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0;
}

[data-sek-module-type="czr_icon_module"] .sek-icon i {
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

[data-sek-module-type="czr_icon_module"] .sek-icon .fas, [data-sek-module-type="czr_icon_module"] .sek-icon .far, [data-sek-module-type="czr_icon_module"] .sek-icon .fab {
  width: 1em;
  height: 1em;
  text-align: center;
}

[data-sek-module-type="czr_icon_module"] a.sek-icon {
  box-shadow: none;
  -webkit-box-shadow: none;
}

[data-sek-module-type="czr_icon_module"] a.sek-icon:hover, [data-sek-module-type="czr_icon_module"] a.sek-icon:focus, [data-sek-module-type="czr_icon_module"] a.sek-icon:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}

[data-sek-module-type="czr_icon_module"] .sek-icon-wrapper {
  display: inline-block;
  line-height: 1em;
}
