.sek-nav-wrap {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: center;
  justify-content: center;
  padding: .5rem 0;
}

.sek-mobile-menu-expanded-below .sek-nav-wrap {
  padding: 0;
}

.sek-nav-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sek-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sek-module .sek-module-inner .sek-nav {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.sek-module .sek-module-inner .sek-nav,
.sek-module .sek-module-inner .sek-nav ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.sek-module .sek-module-inner .sek-nav li {
  list-style: none;
  margin: 0 5px;
}

.sek-module .sek-module-inner .sek-nav li > ul li {
  padding: 0 0 0 .9rem;
}

.sek-nav li a {
  padding: .6em .8em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: inherit;
  overflow: hidden;
}

.sek-nav-wrap .sek-nav li a {
  text-decoration: none;
}

.sek-nav li a:hover .sek-nav__title {
  text-decoration: underline;
}

.sek-nav li:not(:last-of-type) {
  border-bottom: 1px solid;
  border-color: rgba(49, 49, 49, 0.09);
}

.sek-nav .menu-item-has-children,
.sek-nav .page_item_has_children {
  position: relative;
}

.sek-nav .menu-item-has-children > a::after,
.sek-nav .page_item_has_children > a::after {
  content: "\203A";
  font-family: "Arial Unicode MS", Arial;
  moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: none;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 900;
  transition: all 0.3s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  padding: 0 .45em;
  font-size: 1em;
  position: relative;
  -webkit-transform: translateZ(0) rotate(90deg);
  transform: translateZ(0) rotate(90deg);
  -ms-transform: rotate(90deg);
}

.sek-nav .menu-item-has-children.show > a::after,
.sek-nav .page_item_has_children.show > a::after {
  -webkit-transform: translateZ(0) rotate(-90deg) !important;
  transform: translateZ(0) rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
}

.sek-nav .sub-menu,
.sek-nav .children {
  position: static;
  float: none;
  list-style: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

@media (min-width: 768px) {
  .sek-nav .sub-menu,
  .sek-nav .children {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
    max-width: 50vw;
  }
}

.sek-dropdown-submenu > a::after {
  -webkit-transform: translateZ(0) rotate(0deg) !important;
  transform: translateZ(0) rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
}

.sek-dropdown-submenu > a[class*=-reverse]::after {
  top: .1em;
  -webkit-transform: translateZ(0) rotate(-180deg) !important;
  transform: translateZ(0) rotate(-180deg) !important;
  -ms-transform: rotate(-180deg) !important;
}

.sek-module-inner .sek-nav-toggler {
  -webkit-appearance: none !important;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 0;
  vertical-align: middle;
}

.sek-module-inner .sek-nav-toggler, .sek-module-inner .sek-nav-toggler:hover, .sek-module-inner .sek-nav-toggler:focus {
  background: 0 0;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: none;
}

.sek-ham__span-wrapper {
  height: 12px;
  position: relative;
  display: block;
}

.sek-ham__span-wrapper .line {
  display: block;
  height: 1.5px;
  position: absolute;
  left: 10px;
  border-radius: 5px;
  background-clip: padding-box;
  transition: all ease .35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1.5px solid;
}

.sek-ham__span-wrapper .line-1 {
  top: 0;
}

.sek-ham__span-wrapper .line-2 {
  top: 50%;
}

.sek-ham__span-wrapper .line-3 {
  top: 100%;
}

.sek-nav-toggler .line-1 {
  -webkit-transform: translate(-3px, 6px) rotate(45deg);
  transform: translate(-3px, 6px) rotate(45deg);
  width: 28px;
}

.sek-nav-toggler .line-2 {
  opacity: 0;
}

.sek-nav-toggler .line-3 {
  -webkit-transform: translate(-3px, -6px) rotate(-45deg);
  transform: translate(-3px, -6px) rotate(-45deg);
  width: 28px;
}

.sek-nav-toggler.sek-collapsed .line {
  width: 20px;
  -webkit-transform: translate(0, 0) rotate(0);
  transform: translate(0, 0) rotate(0);
  opacity: 1;
}

.sek-nav-toggler.sek-collapsed.hovering .line {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  width: 26px;
}

.sek-dropdown-menu {
  position: static;
  float: none;
  list-style: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

@media (min-width: 768px) {
  .sek-dropdown-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
    max-width: 50vw;
  }
}

.show > .sek-dropdown-menu {
  display: block;
}

.sek-dropdown-menu .sek-nav__title {
  word-break: break-word;
  white-space: normal;
}

.sek-dropdown-menu.open-right {
  left: 0;
  right: auto;
}

.sek-dropdown-menu.open-right ul:not(.open-left),
.sek-dropdown-menu ul.open-right {
  left: 100%;
  right: auto;
}

.sek-dropdown-menu.open-left {
  left: auto;
  right: 0;
}

.sek-dropdown-menu.open-left ul:not(.open-right),
.sek-dropdown-menu ul.open-left {
  right: 100%;
  left: auto;
}

@media (min-width: 768px) {
  .sek-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .sek-nav .menu-item-has-children > a::after,
  .sek-nav .page_item_has_children > a::after {
    display: inline-block;
  }
  .sek-nav > li:not(:last-of-type) {
    border-bottom: none;
  }
  .sek-nav > li > a {
    padding: 5px;
  }
  .sek-nav-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .sek-mobile-menu-expanded-below {
    display: none !important;
  }
  .sek-nav-toggler {
    display: none;
  }
  .sek-dropdown-menu {
    background: white;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.15);
  }
  .sek-nav .sek-dropdown-menu li {
    padding: 0 10px !important;
    margin: 0 !important;
  }
  .sek-nav .sek-dropdown-menu li a {
    padding: 10px 12px;
  }
  .sek-dropdown-menu ul {
    left: 100%;
  }
  .sek-dropdown-menu .sek-menu-link__row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .sek-dropdown-menu .sek-nav__title {
    word-break: normal;
    white-space: nowrap;
  }
  .sek-dropdown-submenu .sek-dropdown-menu {
    top: 15px;
  }
  .sek-submenu-fade .sek-dropdown-menu a {
    transition: all 0.25s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .sek-submenu-fade .sek-dropdown-menu a:hover {
    -webkit-transform: translate(3px, 0);
    transform: translate(3px, 0);
  }
  .sek-submenu-fade .page_item_has_children,
  .sek-submenu-fade .menu-item-has-children {
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .sek-submenu-fade .page_item_has_children > ul,
  .sek-submenu-fade .menu-item-has-children > ul {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    display: block;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }
  .sek-submenu-fade .page_item_has_children:not(.show),
  .sek-submenu-fade .menu-item-has-children:not(.show) {
    overflow: hidden;
  }
  .sek-submenu-fade .page_item_has_children:not(.show) ul,
  .sek-submenu-fade .menu-item-has-children:not(.show) ul {
    pointer-events: none;
    cursor: not-allowed;
  }
  .sek-submenu-fade li.show {
    -webkit-perspective: none;
    perspective: none;
  }
  .sek-submenu-fade li.show > ul {
    position: absolute;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
