// synchronized with default on registration
[data-sek-module-type="czr_button_module"] .#{$project-prefix}module-inner {
  text-align: center;
}
.#{$project-prefix}module-inner {
  .sek-btn {
    background:#020202;
    padding: 0.5em 1em;
    i {
      margin: 0 8px;
    }
  }
}


.#{$project-prefix}btn-inner {
    display: flex;
    align-items: center;
}
.#{$project-prefix}btn.box-shadow {
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
    &.push-effect:active {
        transform: translateY(2px);
    }
}