.#{$project-prefix}btn-inner {
    display: flex;
    align-items: center;
}
.#{$project-prefix}btn.box-shadow {
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
    &.push-effect:active {
        transform: translateY(2px);
    }
}