// synchronized with default on registration
/*************************************
* HEADING MODULE
*************************************/
.sek-module-inner {
  .sek-heading {
      text-align: center;//This should match the default on registration
      // set a margin to fix https://github.com/presscustomizr/nimble-builder/issues/203
      margin: 0.6em 0;//This should match the default on registration
      display: block;//<=fixes https://github.com/presscustomizr/nimble-builder/issues/442
      > a {
          color: inherit;
          font-size: inherit;
      }
  }
}
// introduced when implementing https://github.com/presscustomizr/nimble-builder/issues/322
