[data-sek-module-type="czr_icon_module"] {
    text-align: center;
    color: #5a5a5a;
    font-size: 15px;

    a.sek-icon,
    a.sek-icon:hover,
    a.sek-icon:focus,
    a.sek-icon:active,
    a.sek-icon.active {
        color: inherit;
    }
    .sek-icon i{
      -webkit-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
    }
}