[data-sek-module-type="czr_img_slider_module"] {
    .swiper-container {
      width: 100%;
      height: 100%;
      .swiper-wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        // height: 350px;//consistent with defaults on registration
        // @include media-breakpoint-only(xs) {
        //   height: 200px;
        // }
      }
      &[data-sek-image-layout="nimble-wizard"] {
        .sek-carousel-img {
          height: 100%;
          overflow: hidden;
          img {
            max-width: none;
          }
        }
      }
      &[data-sek-image-layout="height-100"] {
        .sek-carousel-img {
          height: 100%;
          width: auto;
          overflow: hidden;
          img {
            height: 100%;
            width: auto;
            max-width: none;
          }
        }
      }
    }//.swiper-container
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide image vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      .sek-carousel-img {
        width: 100%;
        img { width: 100%; }
      }
      &[data-sek-has-overlay="true"] .sek-carousel-img::after {
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        //background: rgba(49,49,49,.5);
        background-color: #000000;
        opacity: 0.3;
      }
      .sek-slider-text-wrapper {
        height: 100%;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
        top: 50%;
        left: 50%;
        position: absolute;
        /* Center slide text vertically
         => consistent with defaults in module registration */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .sek-slider-text-content {
        height: auto;
        max-height: 100%;
        width: 100%;
        padding:5%;//consistent with defaults in module registration
        text-align: center;//consistent with defaults in module registration
        z-index: 3;
        overflow: hidden;
        color: #ffffff;//consistent with defaults in module registration
        font-size:16px;//consistent with defaults in module registration
        line-height:1.5em;//consistent with defaults in module registration
        * {
          font-size:16px;//consistent with defaults in module registration
          line-height:1.5em;//consistent with defaults in module registration
        }
      }
    }//.swiper-slide

    /* SWIPER BULLETS */
    .swiper-pagination-bullet-active {
      background-color: #ffffff;//consistent with defaults registration param
    }

    /* SWIPER ARROWS */
    .sek-swiper-nav { cursor: pointer;}
    .sek-swiper-nav .sek-swiper-prev {
        left: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 0px;
    }
    .sek-swiper-nav .sek-swiper-next {
        right: 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 2px;
    }

    .sek-swiper-nav .sek-swiper-prev, .sek-swiper-nav .sek-swiper-next{
        position: absolute;
        z-index: 2;
        top: calc((100% - 60px)/2);
        text-align: center;
        margin-top: 0px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        display: block;
        color: #ffffff;//consistent with defaults registration param
        height: 60px;
        width: 50px;
        opacity: 0.6;
        background-color: rgba(32, 32, 32, 0.4);
        -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        line-height: 64px;
        cursor: pointer;
        font-size: 18px;
    }

    .sek-swiper-nav .sek-swiper-prev:hover, .sek-swiper-nav .sek-swiper-next:hover {
        background-color: rgba(32, 32, 32, 0.7);
        opacity: 1;
        width: 100px;
    }
    // @media only screen and (max-width: 719px) {
    //     .sek-swiper-nav { display: none;}
    // }
}