/*************************************
* SIMPLE FORM MODULE
*************************************/
.#{$project-prefix}simple-form-wrapper {
    input[type=text], textarea {
        font-size: 16px;
        width: 100% !important;
        padding: 0.4em 0.5em;
        border-radius: 3px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        font-weight: normal;
        max-width: 100%;
        border: none;
        color: #555555;
        background-color: #ffffff;
    }
    textarea {
        height: auto;
        max-height: 150px;
    }
    .sek-form-field {
        margin-bottom: 15px;
        clear: both;
    }
    label {
        // font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
        color: #444444;
        font-weight: bold;
        text-align: left;
        margin: 0;
        padding: 0 0 3px 0;
        width: auto;
        display: block;
    }
    &.use-outset-shadow .sek-form-field input[type="text"], &.use-outset-shadow .sek-form-field  textarea  {
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
    }
    &.use-inset-shadow .sek-form-field input[type="text"], &.use-inset-shadow .sek-form-field  textarea  {
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
    #sek-form-respond {
      padding: 20px 0;
    }
    input[type="checkbox"] + label {
        display: inline;
        font-weight: bold;
        margin-left: 0.5rem;
    }
}

// Submission message
.sek-form-message {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    line-height: 1.5em;
    font-size: 16px;
    border-radius: 4px;
    &.sek-mail-failure {
      color: #ff0000;
      border: 1px solid #ff0000;
      background: none;
      background: rgba(255, 0, 0, 0.05);
    }
    &.sek-mail-success {
      color: #008000;
      border: 1px solid #008000;
      background: none;
      background: rgba(0, 128, 0, 0.05);
    }
    &.sek-mail-aborted {
      color: #ffa500;
      border: 1px solid #ffa500;
      background: none;
      background: rgba(255, 165, 0, 0.05);
    }
}


// Badge visibility
.grecaptcha-badge {
  z-index: 1;//fixes badge not visible in the Customizr theme.
}
.sek-hide-rc-badge .grecaptcha-badge {
  display: none;
}
.sek-show-rc-badge .grecaptcha-badge {
  display: block;
  visibility: visible!important;
}