[data-sek-module-type="czr_social_icons_module"] .sek-module-inner .sek-social-icons-wrapper {
  margin: 10px 0; //consistent with the 'spacing' default value on module registration
}
.sek-module-inner .sek-social-icons-wrapper {
  text-align: center; //consistent with the 'h_alignment_css' default value on module registration
  > *:not(:last-child) { padding-right: 8px; }
  > li {
    display: inline-block;
    .sek-social-icon {
      font-size: 28px;//<= same as in Hueman theme
      line-height: 1.5em; //consistent with the default registration param
    }
    .sek-social-icon {
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }
}
[data-sek-module-type="czr_social_icons_module"] {
  .sek-social-icons-placeholder {
    height: 150px;
    background: #eee;
    .sek-social-icons-ph-text{
      font-size:25px;
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: flex-end;
      align-items: flex-end;
      // the background image is set server side
      // 'background: url(' . NIMBLE_MODULE_ICON_PATH . 'Nimble_slideshow_icon.svg) no-repeat 50% 75%;background-size: 30%;'
      > p { padding: 10px;position: relative;margin: 0;color:#767676}
      &::before {
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        background-color: #ffffff;
        opacity: 0.6;
      }
    }
  }
}