// Normalize styling for modules
// Make sure that some basic html tags like Hx and p have a correct default line-height and spacing
.#{$project-prefix}module-inner {
    line-height: 1.5em;
    h1, h2, h3, h4, h5, h6, p {
      line-height: 1.5em;
      font-weight: 400;
      margin: 0.6em 0;
    }
    // hx font-size are inspired from the ones of the Customizr theme
    h1 {font-size: 2.48em;}
    h2 {font-size: 2.07em;}
    h3 {font-size: 1.73em;}
    h4 {font-size: 1.44em;}
    h5 {font-size: 1.2em;}
    h6 {font-size: 1em;}
    p {
      margin: 0 0 1em;
      padding: 0;
    }
    a {
      text-decoration: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
    }
    img {
      height: auto;
      max-width: 100%;
      border: none;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
// Links style => should be underlined by default in most of the module
// fix for https://github.com/presscustomizr/nimble-builder/issues/524
[data-sek-module-type="czr_tiny_mce_editor_module"],
[data-sek-module-type="czr_shortcode_module"],
[data-sek-module-type="czr_accordion_module"],
[data-sek-module-type="czr_simple_html_module"]{
  .sek-module-inner a:not(.wp-block-button__link) {
    text-decoration: underline;
  }
}
// No background on link focus
// compatibility with TT1 WP default theme
body .sektion-wrapper .sek-row [data-sek-level="module"] .sek-module-inner a:not(.sek-btn):not(.button):focus {
  background: none;
  // color: initial;
}

// fix for https://github.com/presscustomizr/nimble-builder/issues/319
// => Twenty nineteen theme heading styling, adding a border ::before Hx
body .#{$project-prefix}module-inner {
  h1, h2, h3, h4, h5, h6 {
    &:before {
      content: none;
      background: none;
    }
  }
}