//
// Button Base styles (bs based)
//
%btn_base {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  font-size: 1em;
  @extend .service-font;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: 2px, 0, 0, 0, rgba(2, 117, 216, 0.25);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    box-shadow: none;

  }

  &:active,
  &.active {
    background-image: none;
    box-shadow: 2px, 0, 0, 0, rgba(2, 117, 216, 0.25);
  }
}


.sek-btn {
  @extend %btn_base;
}

// Future-proof disabling of clicks on `<a>` elements
a.sek-btn.disabled,
fieldset[disabled] a.sek-btn {
  pointer-events: none;
}
