@import "modules/heading";
@import "modules/menu";
@import "modules/featured_pages";
@import "modules/image";
@import "modules/special_image";
@import "modules/divider";
@import "modules/spacer";
@import "modules/icon";
@import "modules/quote";
@import "modules/button";
@import "modules/post_grid";
@import "modules/simple_form";
@import "modules/tiny_mce_editor";

// Normalize styling for modules
// Make sure that some basic html tags like Hx and p have a correct default line-height and spacing
.#{$project-prefix}module-inner {
  line-height: 1.5em;
  h1, h2, h3, h4, h5, h6, p {
    line-height: 1.5em;
  }
  p {
    margin: 0 0 1em;
    padding: 0;
  }
  a {
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  img {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

// fix for https://github.com/presscustomizr/nimble-builder/issues/319
// => Twenty nineteen theme heading styling, adding a border ::before Hx
body .#{$project-prefix}module-inner {
  h1, h2, h3, h4, h5, h6 {
    &:before {
      content: none;
      background: none;
    }
  }
}