@import "modules/featured_pages";
@import "modules/image";
@import "modules/divider";
@import "modules/spacer";
@import "modules/icon";
@import "modules/quote";
@import "modules/button";
@import "modules/simple_form";

// Normalize styling for modules
// Make sure that some basic html tags like Hx and p have a correct default line-height and spacing
.sek-module-inner {
  line-height: 1.5em;
  h1, h2, h3, h4, h5, h6, p {
    line-height: 1.5em;
  }
  p {
    margin: 0 0 1em;
    padding: 0;
  }
}