$project-base: 'sek' !default;
$project-prefix: $project-base + '-' !default;
$project-base-wrapper: 'sektion-wrapper' !default;

$enable-grid-classes: true !default;
$enable-transitions: true !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// Sek grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$sek-grid-breakpoints: (
  xs: 0,
  md: 768px,
) !default;

@include _assert-ascending($sek-grid-breakpoints, "$sek-grid-breakpoints");
@include _assert-starts-at-zero($sek-grid-breakpoints);


// Grid Columns
$sek-column-sizes: (
   //col suffix: percentage
     8: 8.333,     //12 columns
     9: 9.090909,  //11 columns
    10: 10,        //10 columns
    11: 11.111,    //9 columns
    12: 12.5,      //8 columns
    14: 14.285,    //7 columns
    16: 16.666,    //6 columns
    20: 20,        //5 columns
    25: 25,        //4 columns
    30: 30,
    33: 33.333,    //3 columns
    40: 40,
    50: 50,        //2 columns
    60: 60,
    66: 66.666,
    70: 70,
    75: 75,
    80: 80,
    83: 83.333,
    90: 90,
    100: 100       //1 column
);

@include _assert-ascending($sek-column-sizes, "$sek-column-sizes");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           20px !default;

$is_rtl: false !default;
$enable-hover-media-query:  false !default;

$cursor-disabled  : not-allowed !default;

$monotypeFont : monospace !default;
$serviceFont  : sans-serif !default;


$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;


// Colors
$grey : #808080;
$grey-mid-light : #aaa;
$grey-light    : #eceeef;
$grey-lightest : #f7f8f9;
$grey-dark     : #777;
$black         : #313131;//#202020;


// Typography
$serviceFont : sans-serif;
$monotypeFont : monospace;
// font family as of Bootstrap https://getbootstrap.com/docs/4.0/content/reboot/
// also used on github.com
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-line-height: 1em * 1.25;