/* ------------------------------------------------------------------------- *
 *  Comments ( added April 2021 for site templates )
/* ------------------------------------------------------------------------- */
.sektion-wrapper .sek-module-inner {
  #sek-comments { margin-top: 20px; }

  .sek-commentlist { margin: 0 0 20px 0;list-style: none;}
  .sek-commentlist li { padding-left: 60px; font-size: 0.93rem; line-height: 1.5714rem; font-weight: 400; }
  .sek-commentlist .comment-body{ clear: both; position: relative; padding-bottom: 15px;margin: 0; }
  .sek-commentlist .comment-content{margin: 0;}
  .sek-commentlist .comment-author,
  .sek-commentlist .comment-meta .comment-metadata,
  .sek-commentlist .comment-awaiting-moderation { font-size: 0.8125rem; display: block; float: left; line-height: 1.5384rem;padding: 0 0 0.5rem 0; }
  .sek-commentlist .comment-meta,
  .sek-commentlist .comment-author { margin-right: 6px; }
  .comment-meta .comment-metadata .edit-link {
    margin-left: 1rem;
  }
  .sek-commentlist .fn { color: #444; font-size: 0.8125rem; font-style: normal; font-weight: 600; }
  .sek-commentlist .says { display: none; }
  .sek-commentlist .avatar { position: absolute; left: -60px; top: 0; width: 48px; height: 48px; -webkit-border-radius: 3px; border-radius: 3px; }
  //.sek-commentlist .comment-meta:before { color: #ccc; content: "\f017"; font-family: 'Font Awesome 5 Free'; font-weight: normal; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-style: normal; font-variant: normal; text-rendering: auto; font-size: 10px; margin-right: 3px; vertical-align: 4%; }
  .sek-commentlist .comment-meta a{ color: #757575; }
  .sek-commentlist .reply { font-size: 0.8125rem; line-height: 1.231rem; }
  .sek-commentlist .reply a { color: #757575; }
  .sek-commentlist .reply a:hover { color: #444; }
  .sek-commentlist .comment-awaiting-moderation { color: #16cfc1; font-style: normal; }

  /* comment text */
  .sek-commentlist .comment-body p { margin-bottom: 8px; clear: both;font-size: 0.95em; }
  .sek-commentlist .comment-body strong { font-weight: bold; }
  .sek-commentlist .comment-body em { font-style: italic; }
  .sek-commentlist .comment-body ol li { list-style: decimal; margin-left: 2em; padding: 0; }
  .sek-commentlist .comment-body ul li { list-style: square; margin-left: 2em; padding: 0; }

  /* post author & admin comment */
  .sek-commentlist li.bypostauthor > .comment-body:after,
  //.sek-commentlist li.comment-author-admin > .comment-body:after { background: #16cfc1; display: block; position: absolute; content: "\f303"; color: #fff; line-height: 12px; width: 12px; font-family: 'Font Awesome 5 Free'; font-weight: 900; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-style: normal; font-variant: normal; text-rendering: auto; text-align: center; }
  //.sek-commentlist li.comment-author-admin > .comment-body:after { content: "\f005"; /* star for admin */ }
  .sek-commentlist li.bypostauthor > .comment-body:after,
  .sek-commentlist li.comment-author-admin > .comment-body:after { top: 32px; left: -28px; font-size: 10px; padding: 2px; -webkit-border-radius: 3px; border-radius: 3px; }
  .sek-commentlist li li.bypostauthor > .comment-body:after,
  .sek-commentlist li li.comment-author-admin > .comment-body:after { top: 22px; left: -26px; font-size: 8px; padding: 1px; -webkit-border-radius: 2px; border-radius: 2px; }

  /* child comment */
  // .sek-commentlist li ul {  }
  .sek-commentlist li li { padding-left: 48px; margin: 0; }
  .sek-commentlist li li .avatar { width: 36px; height: 36px; left: -48px; top: 0; }
  .sek-commentlist li li .comment-meta { left: 70px; }

  /*  comments : nav
  /* ------------------------------------ */
  .sek-comments-nav { margin-bottom: 20px; }
  .sek-comments-nav a { font-weight: 600; }
  .sek-comments-nav .sek-nav-previous { float: left; }
  .sek-comments-nav .sek-nav-next { float: right;  }

  /*  comments : form
  /* ------------------------------------ */
  .logged-in-as,
  .comment-notes,
  .form-allowed-tags { display: none; }
  #respond { position: relative; }
  #reply-title { margin-bottom: 20px; }
  li #reply-title { font-size: 0; margin: 0!important; padding: 0; height: 0; border-top: 0; }
  #cancel-comment-reply-link { color: #999; display: block; position: absolute; bottom: 26px; right: 20px; font-size: 0.75em; }
  #cancel-comment-reply-link:hover { color: #777; }
  #commentform { background: #f1f1f1; padding: 10px 20px 20px; margin-bottom: 15px; -webkit-border-radius: 2px; border-radius: 2px; }
  #commentform p.comment-form-author { width: 48%; float: left; }
  #commentform p.comment-form-email { width: 48%; float: right; }
  #commentform p.comment-form-url,
  #commentform p.comment-form-comment { clear: both; }
  #commentform label { padding: 6px 0; font-weight: 600; display: block; }
  #commentform .comment-form-cookies-consent { padding: 10px 0; clear:both }
  #commentform .comment-form-cookies-consent label { display: inline; }
  #commentform input[type="text"],
  #commentform input[type="email"],
  #commentform textarea { max-width: 100%; width: 100%; }
  #commentform textarea { height: 100px; }
  #commentform p.form-submit { margin-top: 10px; }
  .logged-in #reply-title { margin-bottom: 20px; }
  .logged-in #commentform p.comment-form-comment { margin-top: 10px; }
  .logged-in #commentform p.comment-form-comment label { display: none; }
}