/* make sure that the location level occupies 100% of the width */
[data-sek-level="location"] {
  clear: both;
  font-size: 16px;
}

/* To make vertical alignment possible in sections */
.sek-section, .sek-column, .sek-module {
  display: flex;
  align-items: center;
}

.sek-column-inner, .sek-module-inner {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* To allow horizontal centering of modules
  @see https://github.com/presscustomizr/nimble-builder/issues/119
*/
/*  - sections in locations */
/*  - columns in sections */
/*  - modules in columns */
.sek-column-inner {
  display: flex;
  flex-direction: column;
}

.sek-module {
  align-self: center;
  width: 100%;
  max-width: 100%;
}

/* a nested sektion should reset its parent column padding
@see https://github.com/presscustomizr/nimble-builder/issues/25
*/
[data-sek-is-nested="true"] .sek-container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/* MODULE PLACEHOLDER */
/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}*/
/* @see https://github.com/google/material-design-icons/blob/master/iconfont/material-icons.css */
.sek-module-placeholder {
  text-align: center;
}

.sek-module-placeholder .material-icons {
  font-size: inherit;
  color: #cfcfcf;
}

/* LEVEL VISIBILITY BY DEVICE */
/* NIMBLE TEMPLATE GENERAL STYLING */
/* <inspired by Twenty Seventeed WP theme> */
.sek-screen-reader-text {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

#nimble-page {
  position: relative;
  word-wrap: break-word;
}

/* </inspired by Twenty Seventeen WP theme> */
/* Nimble btn in admin top bar */
#wpadminbar .sek-nimble-icon {
  display: inline-block;
}

#wpadminbar .sek-nimble-icon img {
  width: 28px;
  position: absolute;
  top: 2px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all, 0.3s ease-in-out;
  -ms-transition: all, 0.3s ease-in-out;
  -o-transition: all, 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#wpadminbar .sek-nimble-icon:hover img {
  -webkit-filter: none;
  filter: none;
  -webkit-filter: none;
  filter: none;
}

#wpadminbar .sek-nimble-icon .sek-nimble-admin-bar-title {
  padding-left: 30px;
}

[data-sek-has-bg="true"] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

[data-sek-level="location"] [data-sek-bg-parallax="true"] {
  background-attachment: fixed;
  background-size: cover;
}

[data-sek-level="location"] .sek-has-bg {
  position: relative;
}

@supports (-webkit-overflow-scrolling: touch) {
  body [data-sek-level="location"] [data-sek-bg-parallax="true"], body [data-sek-level="location"] [data-sek-bg-fixed="true"] {
    background-attachment: scroll;
  }
}

[data-sek-level="location"] [data-sek-level] {
  -webkit-transition: 0s linear;
  -o-transition: 0s linear;
  transition: 0s linear;
  -webkit-transition-property: background-position;
  -o-transition-property: background-position;
  transition-property: background-position;
}

.sek-module .sek-module-inner .alx-tab.thumbs-enabled > li {
  padding-left: 94px;
}

.sek-module .sek-module-inner .widget_hu_tabs ul,
.sek-module .sek-module-inner .widget_hu_tabs ol {
  margin-left: 0;
  margin-bottom: 0;
}

.sek-module .sek-module-inner .widget_hu_tabs .alx-tabs-nav {
  margin-bottom: 10px;
}

[data-sek-level][data-sek-video-bg-src] {
  position: relative;
}

[data-sek-level] embed,
[data-sek-level] iframe,
[data-sek-level] object,
[data-sek-level] video {
  max-width: 100%;
  width: 100%;
  margin: 0;
  line-height: 1;
  border: none;
}

[data-sek-level] .sek-custom-embed {
  line-height: 0;
}

[data-sek-level] .sek-bg-video-wrapper,
[data-sek-level] .sek-background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute !important;
  overflow: hidden;
  z-index: 0;
  direction: ltr;
}

[data-sek-level] .sek-bg-video-wrapper {
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  pointer-events: none;
  opacity: 0;
}

[data-sek-level] .sek-bg-video-wrapper.sek-bg-loading {
  opacity: 0;
  visibility: hidden;
}

[data-sek-level] .sek-bg-youtube-video-wrapper, [data-sek-level] .sek-background-vimeo-element {
  max-width: none;
}

[data-sek-level] .sek-bg-youtube-video-wrapper, [data-sek-level] .sek-background-video-local, [data-sek-level] .sek-background-vimeo-element {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

[data-sek-level] .sek-background-video-local {
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 575px) {
  .customizer-preview [data-sek-video-bg-on-mobile="false"] .sek-bg-video-wrapper {
    display: none;
  }
}

.sektion-wrapper *,
.sektion-wrapper *::before,
.sektion-wrapper *::after {
  box-sizing: border-box;
}

.sektion-wrapper img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  display: inline;
}

.sektion-wrapper svg:not(:root) {
  overflow: hidden;
}

.sektion-wrapper figure {
  margin: 0;
}

.sektion-wrapper embed, .sektion-wrapper iframe, .sektion-wrapper object {
  max-width: 100%;
}

.sek-service-font, .sek-module-inner .sek-btn {
  font-family: sans-serif;
}

.sek-container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .sek-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .sek-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .sek-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .sek-container {
    max-width: 1140px;
  }
}

.sek-container-fluid {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.sek-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.sek-container-no-padding {
  padding-right: 0;
  padding-left: 0;
  overflow-x: hidden;
}

.sek-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.sek-no-gutters > .sek-col,
.sek-no-gutters > [class*="sek-col-"] {
  padding-right: 0;
  padding-left: 0;
}

.sek-col-8, .sek-col-9, .sek-col-10, .sek-col-11, .sek-col-12, .sek-col-14, .sek-col-16, .sek-col-20, .sek-col-25, .sek-col-30, .sek-col-33, .sek-col-40, .sek-col-50, .sek-col-60, .sek-col-66, .sek-col-70, .sek-col-75, .sek-col-80, .sek-col-83, .sek-col-90, .sek-col-100, .sek-col-base,
.sek-col,
.sek-col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.sek-col-base {
  flex: 0 0 100%;
  max-width: 100%;
}

.sek-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.sek-col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  .sek-col-8 {
    flex: 0 0 8.333%;
    max-width: 8.333%;
  }
  .sek-col-9 {
    flex: 0 0 9.090909%;
    max-width: 9.090909%;
  }
  .sek-col-10 {
    flex: 0 0 10%;
    max-width: 10%;
  }
  .sek-col-11 {
    flex: 0 0 11.111%;
    max-width: 11.111%;
  }
  .sek-col-12 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .sek-col-14 {
    flex: 0 0 14.285%;
    max-width: 14.285%;
  }
  .sek-col-16 {
    flex: 0 0 16.666%;
    max-width: 16.666%;
  }
  .sek-col-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .sek-col-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .sek-col-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .sek-col-33 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
  .sek-col-40 {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .sek-col-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .sek-col-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .sek-col-66 {
    flex: 0 0 66.666%;
    max-width: 66.666%;
  }
  .sek-col-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .sek-col-75 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .sek-col-80 {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .sek-col-83 {
    flex: 0 0 83.333%;
    max-width: 83.333%;
  }
  .sek-col-90 {
    flex: 0 0 90%;
    max-width: 90%;
  }
  .sek-col-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sek-order-first {
    order: -1;
  }
  .sek-order-last {
    order: 13;
  }
  .sek-order-0 {
    order: 0;
  }
  .sek-order-1 {
    order: 1;
  }
  .sek-order-2 {
    order: 2;
  }
  .sek-order-3 {
    order: 3;
  }
  .sek-order-4 {
    order: 4;
  }
  .sek-order-5 {
    order: 5;
  }
  .sek-order-6 {
    order: 6;
  }
  .sek-order-7 {
    order: 7;
  }
  .sek-order-8 {
    order: 8;
  }
  .sek-order-9 {
    order: 9;
  }
  .sek-order-10 {
    order: 10;
  }
  .sek-order-11 {
    order: 11;
  }
  .sek-order-12 {
    order: 12;
  }
}

.sek-fade {
  transition: opacity 0.15s linear;
}

@media screen and (prefers-reduced-motion: reduce) {
  .sek-fade {
    transition: none;
  }
}

.sek-fade:not(.show) {
  opacity: 0;
}

.sek-collapse:not(.show) {
  display: none;
}

/*
.sek-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  //@include transition($transition-collapse);
}*/
.sek-clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.sek-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sek-sr-only-focusable:active, .sek-sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.sek-embed {
  position: relative;
}

.sek-embed::before {
  display: block;
  content: '';
}

.sek-embed .sek-embed-inner,
.sek-embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sek-module-inner h1,
.sek-module-inner h2,
.sek-module-inner h3,
.sek-module-inner h4,
.sek-module-inner h5,
.sek-module-inner h6,
.sek-module-inner p,
.sek-module-inner blockquote,
.sek-module-inner address,
.sek-module-inner big,
.sek-module-inner cite,
.sek-module-inner code,
.sek-module-inner em,
.sek-module-inner font,
.sek-module-inner img,
.sek-module-inner small,
.sek-module-inner strike,
.sek-module-inner sub,
.sek-module-inner sup,
.sek-module-inner li,
.sek-module-inner ol,
.sek-module-inner ul,
.sek-module-inner fieldset,
.sek-module-inner form,
.sek-module-inner label,
.sek-module-inner legend,
.sek-module-inner button,
.sek-module-inner table,
.sek-module-inner caption,
.sek-module-inner tr,
.sek-module-inner th,
.sek-module-inner td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

.sektion-wrapper {
  word-wrap: break-word;
}

.sek-text-right {
  text-align: right !important;
}

.sek-text-left {
  text-align: left !important;
}

.sek-module .sek-module-inner ul {
  list-style: disc;
}

.sek-module .sek-module-inner ol {
  list-style: decimal;
}

.sek-module .sek-module-inner ol > li::before {
  content: none;
}

.sek-module .sek-module-inner ul, .sek-module .sek-module-inner ol {
  padding: 0;
  line-height: 1.5;
  margin: 0 0 1.5rem 1.5rem;
}

.sek-module .sek-module-inner ul > li, .sek-module .sek-module-inner ol > li {
  padding: .25rem .5rem;
}

.sek-module .sek-module-inner li > ul, .sek-module .sek-module-inner li > ol {
  margin-bottom: 0;
}

.sek-module-inner pre code, .sek-module-inner tt {
  box-sizing: border-box;
  font-size: inherit;
  white-space: pre-wrap !important;
  background: transparent;
  border: none;
  padding: 0;
  font-family: monospace;
}

.sek-module-inner pre {
  background: #f7f8f9;
  padding: 2.5em;
  word-wrap: normal;
  white-space: pre-wrap !important;
  color: #313131;
  font-family: monospace !important;
}

.sek-module-inner figure {
  text-align: center;
}

.sek-module-inner figcaption {
  text-align: center;
}

.sek-module-inner cite {
  color: #313131;
  font-weight: 300;
  font-style: normal;
  position: relative;
  display: inline-block;
}

.sek-module-inner caption, .sek-module-inner code, .sek-module-inner code, .sek-module-inner kbd, .sek-module-inner samp, .sek-module-inner .wp-block-table.is-style-stripes tbody tr:nth-child(odd), .sek-module-inner :root .has-subtle-background-background-color {
  background-color: #dbdbdb;
}

.sek-module-inner sub {
  bottom: -0.25em;
}

.sek-module-inner sub, .sek-module-inner sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.sek-module-inner table {
  width: 100%;
  border-collapse: collapse;
  /*&:not([id^=wp-calendar]) {
    border: 2px solid $grey-lightest;
    th { @extend .caps; @extend  .letter-spacing-2; font-family: $serviceFont; }
    th, td { @extend .demi-small; padding: $base-line-height; border: 1px solid $grey-lightest; }
    td { color: $grey-dark; }
  }*/
}

@media (max-width: 767.98px) {
  .sek-module-inner table {
    table-layout: fixed;
  }
}

.sek-module-inner table:not([id^=wp-calendar]):not(.ui-datepicker-calendar):not(.tribe-mini-calendar) {
  border: 2px solid #eceeef;
}

.sek-module-inner table:not([id^=wp-calendar]):not(.ui-datepicker-calendar):not(.tribe-mini-calendar) th {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: sans-serif;
}

.sek-module-inner table:not([id^=wp-calendar]):not(.ui-datepicker-calendar):not(.tribe-mini-calendar) th, .sek-module-inner table:not([id^=wp-calendar]):not(.ui-datepicker-calendar):not(.tribe-mini-calendar) td {
  font-size: 0.95em;
  padding: 1.25em;
  border: 1px solid #eceeef;
}

.sek-module-inner table:not([id^=wp-calendar]):not(.ui-datepicker-calendar):not(.tribe-mini-calendar) td {
  color: #777;
}

.sek-module-inner .sek-btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25em;
  text-align: center;
  /*white-space: nowrap;*/
  white-space: normal;
  word-break: break-all;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sek-module-inner .sek-btn:focus, .sek-module-inner .sek-btn:hover {
  text-decoration: none;
}

.sek-module-inner .sek-btn:focus, .sek-module-inner .focus.sek-btn {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.sek-module-inner .disabled.sek-btn, .sek-module-inner .sek-btn:disabled {
  cursor: not-allowed;
  opacity: .65;
  box-shadow: none;
}

.sek-module-inner .sek-btn:active, .sek-module-inner .active.sek-btn {
  background-image: none;
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

a.sek-btn.disabled,
fieldset[disabled] a.sek-btn {
  pointer-events: none;
}

.sektion-wrapper button,
.sektion-wrapper [type="button"],
.sektion-wrapper [type="reset"],
.sektion-wrapper [type="submit"] {
  -webkit-appearance: button;
}

.sektion-wrapper button::-moz-focus-inner,
.sektion-wrapper [type="button"]::-moz-focus-inner,
.sektion-wrapper [type="reset"]::-moz-focus-inner,
.sektion-wrapper [type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button.sek-btn,
[type="button"].sek-btn,
[type="reset"].sek-btn,
[type="submit"].sek-btn {
  -wekbit-appearance: none !important;
  background: transparent;
}

[data-sek-level="module"] .sek-module-inner {
  /* WP Search Widget */
}

[data-sek-level="module"] .sek-module-inner .wp-caption figcaption {
  color: #6d6d6d;
  font-style: italic;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  /* Keep wide captions from overflowing their container. */
  padding: 4px;
  margin-top: 1rem;
}

[data-sek-level="module"] .sek-module-inner figure {
  display: block;
}

[data-sek-level="module"] .sek-module-inner .aligncenter, [data-sek-level="module"] .sek-module-inner .aligncenter img {
  margin-left: auto;
  margin-right: auto;
}

[data-sek-level="module"] .sek-module-inner .alignleft {
  float: left;
}

[data-sek-level="module"] .sek-module-inner .alignright {
  float: right;
}

[data-sek-level="module"] .sek-module-inner .alignnone, [data-sek-level="module"] .sek-module-inner .aligncenter, [data-sek-level="module"] .sek-module-inner .alignleft, [data-sek-level="module"] .sek-module-inner .alignright, [data-sek-level="module"] .sek-module-inner .alignwide {
  margin-top: 1.5rem;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
}

[data-sek-level="module"] .sek-module-inner [role=search].search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

@media (max-width: 767.98px) {
  [data-sek-level="module"] .sek-module-inner [role=search].search-form {
    float: none;
  }
}

[data-sek-level="module"] .sek-module-inner [role=search].search-form label {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 5px;
}

[data-sek-level="module"] .sek-module-inner [role=search].search-form label input {
  padding-left: 5px;
  line-height: 20px;
  width: 100%;
  max-width: 185px;
  min-width: 80px;
}

@media (max-width: 767.98px) {
  [data-sek-level="module"] .sek-module-inner [role=search].search-form label input {
    max-width: none;
  }
}

[data-sek-level="module"] .sek-module-inner [role=search].search-form input[type=submit] {
  line-height: 15px;
  /*width: 25%;*/
}

[data-sek-level="module"] .sek-module-inner input[type="submit"] {
  background: #808080;
  color: #fff;
  padding: 10px 10px;
  font-weight: normal;
  display: inline-block;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

[data-sek-level="module"] .sek-module-inner .search-form input[type="search"] {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #fff;
  border: 2px solid #ddd;
  color: #777;
  display: block;
  max-width: 100%;
  padding: 7px 8px;
}

.sek-module-inner h1, .sek-module-inner h2, .sek-module-inner h3, .sek-module-inner h4, .sek-module-inner h5, .sek-module-inner h6 {
  font-weight: 400;
  line-height: 1.5em;
}

.sek-module-inner h1 {
  font-size: 2.48em;
}

.sek-module-inner h2 {
  font-size: 2.07em;
}

.sek-module-inner h3 {
  font-size: 1.73em;
}

.sek-module-inner h4 {
  font-size: 1.44em;
}

.sek-module-inner h5 {
  font-size: 1.2em;
}

.sek-module-inner h6 {
  font-size: 1em;
}

.sek-module-inner .sek-heading {
  text-align: center;
  margin: 0.6em 0;
  display: block;
}

.sek-module-inner .sek-heading > a {
  color: inherit;
  font-size: inherit;
}

[data-sek-module-type="czr_divider_module"] {
  text-align: center;
}

[data-sek-module-type="czr_divider_module"] .sek-module-inner {
  font-size: 0;
  line-height: 0;
}

.sek-divider {
  border-top: 1px solid #5a5a5a;
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.sek-spacer {
  height: 20px;
}

[data-sek-module-type="czr_button_module"] .sek-module-inner {
  text-align: center;
}

.sek-module-inner .sek-btn {
  background: #020202;
  color: #ffffff;
  padding: 0.5em 1em;
}

.sek-module-inner .sek-btn i {
  margin: 0 8px;
}

.sek-module-inner .sek-btn:hover, .sek-module-inner .sek-btn:focus, .sek-module-inner .sek-btn:active {
  color: #ffffff;
}

[data-sek-module-type="czr_button_module"] .sek-module-inner .sek-btn:focus, [data-sek-module-type="czr_button_module"] .sek-module-inner .sek-btn:hover {
  text-decoration: none;
}

.sek-btn-inner {
  display: flex;
  align-items: center;
}

.sek-btn.box-shadow {
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
}

.sek-btn.box-shadow.push-effect:active {
  transform: translateY(2px);
}

[data-sek-module-type="czr_tiny_mce_editor_module"] a {
  text-decoration: underline;
}

[data-sek-module-type="czr_social_icons_module"] .sek-module-inner .sek-social-icons-wrapper {
  margin: 10px 0;
}

.sek-module-inner .sek-social-icons-wrapper {
  text-align: center;
}

.sek-module-inner .sek-social-icons-wrapper > *:not(:last-child) {
  padding-right: 8px;
}

.sek-module-inner .sek-social-icons-wrapper > li {
  display: inline-block;
}

.sek-module-inner .sek-social-icons-wrapper > li .sek-social-icon {
  font-size: 28px;
  line-height: 1.5em;
}

.sek-module-inner .sek-social-icons-wrapper > li .sek-social-icon {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

[data-sek-module-type="czr_shortcode_module"] [data-sek-use-flexbox="true"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sek-module-inner {
  line-height: 1.5em;
}

.sek-module-inner h1, .sek-module-inner h2, .sek-module-inner h3, .sek-module-inner h4, .sek-module-inner h5, .sek-module-inner h6, .sek-module-inner p {
  line-height: 1.5em;
}

.sek-module-inner p {
  margin: 0 0 1em;
  padding: 0;
}

.sek-module-inner a {
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sek-module-inner img {
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

[data-sek-module-type="czr_tiny_mce_editor_module"] .sek-module-inner a,
[data-sek-module-type="czr_shortcode_module"] .sek-module-inner a,
[data-sek-module-type="czr_accordion_module"] .sek-module-inner a,
[data-sek-module-type="czr_simple_html_module"] .sek-module-inner a {
  text-decoration: underline;
}

body .sek-module-inner h1:before, body .sek-module-inner h2:before, body .sek-module-inner h3:before, body .sek-module-inner h4:before, body .sek-module-inner h5:before, body .sek-module-inner h6:before {
  content: none;
  background: none;
}

/*# sourceMappingURL=sek-base-light.css.map */