.sektion-wrapper *,
.sektion-wrapper *::before,
.sektion-wrapper *::after {
  box-sizing: border-box;
}

.sektion-wrapper img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.sektion-wrapper svg:not(:root) {
  overflow: hidden;
}

.sektion-wrapper figure {
  margin: 0;
}

.sektion-wrapper embed, .sektion-wrapper iframe, .sektion-wrapper object {
  max-width: 100%;
}

.sek-service-font, .sek-module-inner .sek-btn {
  font-family: sans-serif;
  letter-spacing: 1px;
}

.sek-container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .sek-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .sek-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .sek-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .sek-container {
    max-width: 1140px;
  }
}

.sek-container-fluid {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.sek-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.sek-container-no-padding {
  padding-right: 0;
  padding-left: 0;
  overflow-x: hidden;
}

.sek-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.sek-no-gutters > .sek-col,
.sek-no-gutters > [class*="sek-col-"] {
  padding-right: 0;
  padding-left: 0;
}

.sek-col-8, .sek-col-9, .sek-col-10, .sek-col-11, .sek-col-12, .sek-col-14, .sek-col-16, .sek-col-20, .sek-col-25, .sek-col-30, .sek-col-33, .sek-col-40, .sek-col-50, .sek-col-60, .sek-col-66, .sek-col-70, .sek-col-75, .sek-col-80, .sek-col-83, .sek-col-90, .sek-col-100, .sek-col-base,
.sek-col,
.sek-col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.sek-col-base {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.sek-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.sek-col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  .sek-col-8 {
    -ms-flex: 0 0 8.333%;
    flex: 0 0 8.333%;
    max-width: 8.333%;
  }
  .sek-col-9 {
    -ms-flex: 0 0 9.090909%;
    flex: 0 0 9.090909%;
    max-width: 9.090909%;
  }
  .sek-col-10 {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }
  .sek-col-11 {
    -ms-flex: 0 0 11.111%;
    flex: 0 0 11.111%;
    max-width: 11.111%;
  }
  .sek-col-12 {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .sek-col-14 {
    -ms-flex: 0 0 14.285%;
    flex: 0 0 14.285%;
    max-width: 14.285%;
  }
  .sek-col-16 {
    -ms-flex: 0 0 16.666%;
    flex: 0 0 16.666%;
    max-width: 16.666%;
  }
  .sek-col-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .sek-col-25 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .sek-col-30 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  .sek-col-33 {
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
  .sek-col-40 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  .sek-col-50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .sek-col-60 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
  .sek-col-66 {
    -ms-flex: 0 0 66.666%;
    flex: 0 0 66.666%;
    max-width: 66.666%;
  }
  .sek-col-70 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
  .sek-col-75 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .sek-col-80 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }
  .sek-col-83 {
    -ms-flex: 0 0 83.333%;
    flex: 0 0 83.333%;
    max-width: 83.333%;
  }
  .sek-col-90 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }
  .sek-col-100 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sek-order-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .sek-order-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .sek-order-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .sek-order-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .sek-order-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .sek-order-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .sek-order-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .sek-order-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .sek-order-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .sek-order-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .sek-order-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .sek-order-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .sek-order-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .sek-order-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .sek-order-12 {
    -ms-flex-order: 12;
    order: 12;
  }
}

.sek-fade {
  transition: opacity 0.15s linear;
}

@media screen and (prefers-reduced-motion: reduce) {
  .sek-fade {
    transition: none;
  }
}

.sek-fade:not(.show) {
  opacity: 0;
}

.sek-collapse:not(.show) {
  display: none;
}

/*
.sek-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  //@include transition($transition-collapse);
}*/
.sek-clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.sek-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sek-sr-only-focusable:active, .sek-sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.sek-embed {
  position: relative;
}

.sek-embed::before {
  display: block;
  content: '';
}

.sek-embed .sek-embed-inner,
.sek-embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sektion-wrapper {
  word-wrap: break-word;
}

.sek-module .sek-module-inner ul {
  list-style: disc;
}

.sek-module .sek-module-inner ol {
  list-style: decimal;
}

.sek-module .sek-module-inner ol > li::before {
  content: none;
}

.sek-module .sek-module-inner ul, .sek-module .sek-module-inner ol {
  padding: 0;
  line-height: 1.5;
  margin: 0 0 1.5rem 1.5rem;
}

.sek-module .sek-module-inner ul > li, .sek-module .sek-module-inner ol > li {
  padding: 0;
}

.sek-module .sek-module-inner li > ul, .sek-module .sek-module-inner li > ol {
  margin-bottom: 0;
}

.sek-text-right {
  text-align: right !important;
}

.sek-text-left {
  text-align: left !important;
}

.sek-module-inner .sek-btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25em;
  text-align: center;
  /*white-space: nowrap;*/
  white-space: normal;
  word-break: break-all;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
  transition: all 0.2s ease-in-out;
}

.sek-module-inner .sek-btn:focus, .sek-module-inner .sek-btn:hover {
  text-decoration: none;
}

.sek-module-inner .sek-btn:focus, .sek-module-inner .focus.sek-btn {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.sek-module-inner .disabled.sek-btn, .sek-module-inner .sek-btn:disabled {
  cursor: not-allowed;
  opacity: .65;
  box-shadow: none;
}

.sek-module-inner .sek-btn:active, .sek-module-inner .active.sek-btn {
  background-image: none;
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

a.sek-btn.disabled,
fieldset[disabled] a.sek-btn {
  pointer-events: none;
}

.sektion-wrapper button,
.sektion-wrapper [type="button"],
.sektion-wrapper [type="reset"],
.sektion-wrapper [type="submit"] {
  -webkit-appearance: button;
}

.sektion-wrapper button::-moz-focus-inner,
.sektion-wrapper [type="button"]::-moz-focus-inner,
.sektion-wrapper [type="reset"]::-moz-focus-inner,
.sektion-wrapper [type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.sektion-wrapper button::-moz-focus-inner .sek-btn,
.sektion-wrapper [type="button"]::-moz-focus-inner .sek-btn,
.sektion-wrapper [type="reset"]::-moz-focus-inner .sek-btn,
.sektion-wrapper [type="submit"]::-moz-focus-inner .sek-btn {
  padding: 0.5em 1em;
  border-style: solid;
}

button.sek-btn,
[type="button"].sek-btn,
[type="reset"].sek-btn,
[type="submit"].sek-btn {
  -wekbit-appearance: none !important;
  background: transparent;
}

.sek-module-inner h1, .sek-module-inner h2, .sek-module-inner h3, .sek-module-inner h4, .sek-module-inner h5, .sek-module-inner h6 {
  font-weight: 400;
  line-height: 1.5em;
}

.sek-module-inner h1 {
  font-size: 2.48em;
}

.sek-module-inner h2 {
  font-size: 2.07em;
}

.sek-module-inner h3 {
  font-size: 1.73em;
}

.sek-module-inner h4 {
  font-size: 1.44em;
}

.sek-module-inner h5 {
  font-size: 1.2em;
}

.sek-module-inner h6 {
  font-size: 1em;
}

.sek-module-inner .sek-heading {
  text-align: center;
  margin: 0.6em 0;
  display: block;
}

.sek-module-inner .sek-heading > a {
  color: inherit;
  font-size: inherit;
}

.sek-nav-wrap {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: center;
  justify-content: center;
  padding: .5rem 0;
}

.sek-mobile-menu-expanded-below .sek-nav-wrap {
  padding: 0;
}

.sek-nav-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sek-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sek-module .sek-module-inner .sek-nav {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.sek-module .sek-module-inner .sek-nav,
.sek-module .sek-module-inner .sek-nav ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.sek-module .sek-module-inner .sek-nav li {
  list-style: none;
  margin: 0 5px;
}

.sek-module .sek-module-inner .sek-nav li > ul li {
  padding: 0 0 0 .9rem;
}

.sek-nav li a {
  padding: .6em .8em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: inherit;
  overflow: hidden;
}

.sek-nav-wrap .sek-nav li a {
  text-decoration: none;
}

.sek-nav li a:hover .sek-nav__title {
  text-decoration: underline;
}

.sek-nav li:not(:last-of-type) {
  border-bottom: 1px solid;
  border-color: rgba(49, 49, 49, 0.09);
}

.sek-nav .menu-item-has-children,
.sek-nav .page_item_has_children {
  position: relative;
}

.sek-nav .menu-item-has-children > a::after,
.sek-nav .page_item_has_children > a::after {
  content: "\f107";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: none;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  transition: all 0.3s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  padding: 0 .45em;
  font-size: .8em;
  top: .1em;
  position: relative;
}

.sek-nav .menu-item-has-children.show > a::after,
.sek-nav .page_item_has_children.show > a::after {
  -webkit-transform: translateZ(0) rotate(-180deg) !important;
  transform: translateZ(0) rotate(-180deg) !important;
  -ms-transform: rotate(-180deg) !important;
}

.sek-nav .sub-menu,
.sek-nav .children {
  position: static;
  float: none;
  list-style: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

@media (min-width: 768px) {
  .sek-nav .sub-menu,
  .sek-nav .children {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
    max-width: 50vw;
  }
}

.sek-dropdown-submenu > a::after {
  -webkit-transform: translateZ(0) rotate(-90deg);
  transform: translateZ(0) rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.sek-dropdown-submenu > a[class*=-reverse]::after {
  -webkit-transform: translateZ(0) rotate(-270deg);
  transform: translateZ(0) rotate(-270deg);
}

.sek-nav-toggler {
  -webkit-appearance: none !important;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 0;
  vertical-align: middle;
}

.sek-nav-toggler, .sek-nav-toggler:hover, .sek-nav-toggler:focus {
  background: 0 0;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: none;
}

.sek-ham__span-wrapper {
  height: 12px;
  position: relative;
}

.sek-ham__span-wrapper .line {
  display: block;
  height: 1.5px;
  position: absolute;
  left: 10px;
  border-radius: 5px;
  background-clip: padding-box;
  transition: all ease .35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1.5px solid;
}

.sek-ham__span-wrapper .line-1 {
  top: 0;
}

.sek-ham__span-wrapper .line-2 {
  top: 50%;
}

.sek-ham__span-wrapper .line-3 {
  top: 100%;
}

.sek-nav-toggler .line-1 {
  -webkit-transform: translate(-3px, 6px) rotate(45deg);
  transform: translate(-3px, 6px) rotate(45deg);
  width: 28px;
}

.sek-nav-toggler .line-2 {
  opacity: 0;
}

.sek-nav-toggler .line-3 {
  -webkit-transform: translate(-3px, -6px) rotate(-45deg);
  transform: translate(-3px, -6px) rotate(-45deg);
  width: 28px;
}

.sek-nav-toggler.sek-collapsed .line {
  width: 20px;
  -webkit-transform: translate(0, 0) rotate(0);
  transform: translate(0, 0) rotate(0);
  opacity: 1;
}

.sek-nav-toggler.sek-collapsed.hovering .line {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  width: 26px;
}

.sek-dropdown-menu {
  position: static;
  float: none;
  list-style: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

@media (min-width: 768px) {
  .sek-dropdown-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
    max-width: 50vw;
  }
}

.show > .sek-dropdown-menu {
  display: block;
}

.sek-dropdown-menu .sek-nav__title {
  word-break: break-word;
  white-space: normal;
}

.sek-dropdown-menu.open-right {
  left: 0;
  right: auto;
}

.sek-dropdown-menu.open-right ul:not(.open-left),
.sek-dropdown-menu ul.open-right {
  left: 100%;
  right: auto;
}

.sek-dropdown-menu.open-left {
  left: auto;
  right: 0;
}

.sek-dropdown-menu.open-left ul:not(.open-right),
.sek-dropdown-menu ul.open-left {
  right: 100%;
  left: auto;
}

@media (min-width: 768px) {
  .sek-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .sek-nav .menu-item-has-children > a::after,
  .sek-nav .page_item_has_children > a::after {
    display: inline-block;
  }
  .sek-nav > li:not(:last-of-type) {
    border-bottom: none;
  }
  .sek-nav > li > a {
    padding: 5px;
  }
  .sek-nav-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .sek-mobile-menu-expanded-below {
    display: none !important;
  }
  .sek-nav-toggler {
    display: none;
  }
  .sek-dropdown-menu {
    background: white;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.15);
  }
  .sek-nav .sek-dropdown-menu li {
    padding: 0 10px !important;
    margin: 0 !important;
  }
  .sek-nav .sek-dropdown-menu li a {
    padding: 10px 12px;
  }
  .sek-dropdown-menu ul {
    left: 100%;
  }
  .sek-dropdown-menu .sek-menu-link__row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .sek-dropdown-menu .sek-nav__title {
    word-break: normal;
    white-space: nowrap;
  }
  .sek-dropdown-submenu .sek-dropdown-menu {
    top: 15px;
  }
  .sek-submenu-fade .sek-dropdown-menu a {
    transition: all 0.25s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .sek-submenu-fade .sek-dropdown-menu a:hover {
    -webkit-transform: translate(3px, 0);
    transform: translate(3px, 0);
  }
  .sek-submenu-fade .page_item_has_children,
  .sek-submenu-fade .menu-item-has-children {
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .sek-submenu-fade .page_item_has_children > ul,
  .sek-submenu-fade .menu-item-has-children > ul {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    display: block;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }
  .sek-submenu-fade .page_item_has_children:not(.show),
  .sek-submenu-fade .menu-item-has-children:not(.show) {
    overflow: hidden;
  }
  .sek-submenu-fade .page_item_has_children:not(.show) ul,
  .sek-submenu-fade .menu-item-has-children:not(.show) ul {
    pointer-events: none;
    cursor: not-allowed;
  }
  .sek-submenu-fade li.show {
    -webkit-perspective: none;
    perspective: none;
  }
  .sek-submenu-fade li.show > ul {
    position: absolute;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

[class*=sek__r-w] {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

[class*=sek__r-w]::before {
  display: block;
  content: "";
}

.sek__r-wFP::before {
  padding-top: 92.592593%;
}

.sek-fp-widget {
  text-align: center;
  margin: auto !important;
}

.sek-fp-widget .sek-fp-button-holder, .sek-fp-widget .sek-fp-title, .sek-fp-widget .sek-fp-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.sek-fp-widget .sek-fp-title {
  color: #5a5a5a;
  line-height: 1.25em;
  margin-top: .625em;
  margin-bottom: 1.25em;
  word-break: break-word;
  position: relative;
  font-weight: 500;
  font-size: 1.44em;
}

.sek-fp-widget .sek-fp-title::after {
  content: "";
  position: absolute;
  width: 1.25em;
  background: #5a5a5a;
  height: 2px;
  top: 100%;
  left: 0;
  right: 0;
  margin: .3125em auto 0;
  transition: all .6s ease;
}

.sek-link-mask-p:hover .sek-fp-title::after {
  width: 2.5em;
}

.sek-fp-widget .sek-fp-text {
  color: #777;
  line-height: 1.55em;
  margin: 1.5em auto;
  word-wrap: break-word;
}

.sek-fp-widget .sek-fp-text > a {
  padding: 0 !important;
  display: inline !important;
  line-height: 1em !important;
}

.sek-fp-widget .sek-fp-btn-link {
  text-transform: uppercase;
  margin-bottom: 1.25em;
  white-space: normal;
  word-break: break-word;
  outline: 0;
  background-color: #3b3b3b;
  color: #fff;
  border-color: #3b3b3b;
  font-size: .75em;
  line-height: 2.5em;
  padding: 0 2.5em;
}

.sek-fp-widget .sek-fp-btn-link:hover, .sek-fp-widget .sek-fp-btn-link:focus, .sek-fp-widget .sek-fp-btn-link:active {
  color: #3b3b3b;
  background: transparent;
}

.sek-fp-widget .sek-fp-thumb-wrapper {
  max-width: 270px;
  margin: 8px auto;
}

.sek-fp-widget img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.js-center-images-disabled .sek-fp-widget img {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 100%;
}

.sek-fp-widget img.h-centered {
  width: auto !important;
  max-width: none !important;
}

.sek-fp-widget img.v-centered {
  height: auto !important;
  max-height: none !important;
  max-width: none !important;
  vertical-align: top;
}

.sek-link-mask {
  position: absolute;
  border-color: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

.sek-link-mask.no-effect {
  border: none;
}

.sek-link-mask::before {
  position: absolute;
  width: 63%;
  padding-bottom: 63%;
  content: '';
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  /* end of centering */
  border: 150px solid;
  border-color: inherit;
  box-sizing: content-box;
  transition: all .3s ease;
}

.round .sek-link-mask::before {
  border-radius: 50%;
}

.sek-link-mask-p:hover .sek-link-mask::before {
  -webkit-transform: translate(-50%, -50%) scale(1.4);
  transform: translate(-50%, -50%) scale(1.4);
  /* fallback for those browsers w/o translate3d transform property*/
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1.4);
  transform: translate3d(-50%, -50%, 0) scale(1.4);
  -ms-transform: translate(-50%, -50%) scale(1.4);
}

.no-cssanimations .sek-link-mask {
  border: transparent;
}

.no-cssanimations .sek-fp-thumb-wrapper {
  opacity: .7;
}

.no-cssanimations .sek-fp-thumb-wrapper:hover {
  opacity: 1;
}

[data-sek-module-type="czr_image_module"] {
  text-align: center;
}

[data-sek-module-type="czr_image_module"] img {
  border: 0 solid #f2f2f2;
}

[data-sek-module-type="czr_image_module"] .box-shadow img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0;
}

/* image module transitions for better animations when effects are used */
[data-sek-module-type="czr_image_module"] figure img {
  transition: all 0.2s ease-out;
}

.sek-hover-effect-opacity img:hover {
  opacity: .7;
}

.sek-hover-effect-zoom-out img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.sek-hover-effect-zoom-in img:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.sek-hover-effect-move-up img:hover {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.sek-hover-effect-move-down img:hover {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

.sek-hover-effect-blur img:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.sek-hover-effect-grayscale img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.sek-hover-effect-grayscale img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray;
}

.sek-hover-effect-reverse-grayscale img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray;
}

.sek-hover-effect-reverse-grayscale img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.sek-nimble-image-wrapper {
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: block;
  background-position: center center;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.sek-nimble-image-wrapper::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.sek-nimble-image-mask {
  position: absolute;
  border-color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sek-nimble-image-mask::before {
  position: absolute;
  width: 63%;
  padding-bottom: 63%;
  content: '';
  z-index: 1;
  border: 150vw solid;
  border-color: inherit;
  box-sizing: content-box;
  transition: all .3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sek-nimble-image-wrapper.expanded .sek-nimble-image-mask::before,
.sek-nimble-image-wrapper.hover .sek-nimble-image-mask::before,
.sek-nimble-image-wrapper:hover .sek-nimble-image-mask::before {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.sek-nimble-image-wrapper.round .sek-nimble-image-mask::before {
  border-radius: 50%;
}

.sek-nimble-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  z-index: 0;
}

[data-sek-module-type="czr_divider_module"] {
  text-align: center;
}

[data-sek-module-type="czr_divider_module"] .sek-module-inner {
  font-size: 0;
  line-height: 0;
}

.sek-divider {
  border-top: 1px solid #5a5a5a;
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.sek-spacer {
  height: 20px;
}

[data-sek-module-type="czr_icon_module"] {
  text-align: center;
  color: #5a5a5a;
  font-size: 15px;
}

[data-sek-module-type="czr_icon_module"] a.sek-icon,
[data-sek-module-type="czr_icon_module"] a.sek-icon:hover,
[data-sek-module-type="czr_icon_module"] a.sek-icon:focus,
[data-sek-module-type="czr_icon_module"] a.sek-icon:active,
[data-sek-module-type="czr_icon_module"] a.sek-icon.active {
  color: inherit;
}

[data-sek-module-type="czr_icon_module"] .box-shadow .sek-icon-wrapper {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0;
}

[data-sek-module-type="czr_icon_module"] .sek-icon i {
  webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

[data-sek-module-type="czr_icon_module"] .sek-icon .fas, [data-sek-module-type="czr_icon_module"] .sek-icon .far, [data-sek-module-type="czr_icon_module"] .sek-icon .fab {
  width: 1em;
  height: 1em;
  text-align: center;
}

[data-sek-module-type="czr_icon_module"] a.sek-icon {
  box-shadow: none;
  -webkit-box-shadow: none;
}

[data-sek-module-type="czr_icon_module"] a.sek-icon:hover, [data-sek-module-type="czr_icon_module"] a.sek-icon:focus, [data-sek-module-type="czr_icon_module"] a.sek-icon:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}

[data-sek-module-type="czr_icon_module"] .sek-icon-wrapper {
  display: inline-block;
}

.sek-quote p {
  margin: 0 0 .5em;
  padding: 0;
}

.sek-quote .sek-cite {
  font-size: 13px;
  line-height: 1.5em;
  font-style: inherit;
}

.sek-quote[data-sek-quote-design="none"] {
  border-left: none;
}

.sek-quote.sek-quote-design {
  background: none;
  font-style: inherit;
  margin-right: 0;
  margin-left: 0;
  padding: 15px 0;
  border: none;
}

.sek-quote.sek-quote-design > * {
  padding: 0;
  margin: 0;
}

.sek-quote.sek-quote-design::before, .sek-quote.sek-quote-design::after {
  display: none;
}

.sek-quote.sek-quote-design .sek-cite {
  padding: 0;
  font-weight: normal;
}

.sek-quote.sek-quote-design .sek-cite::before {
  display: none;
}

.sek-quote.sek-quote-design .sek-quote-inner {
  color: inherit;
  padding-left: calc(10px + 1.3em);
}

.sek-quote.sek-quote-design .sek-quote-content {
  font-weight: 400;
  font-size: 16px;
  color: inherit;
}

.sek-quote.sek-quote-design.sek-border-before {
  padding-left: 15px;
  border-left: 5px solid;
}

.sek-quote.sek-quote-design.sek-border-before .sek-cite {
  clear: both;
  display: block;
  margin-top: 1.5em;
  position: relative;
  padding-left: 2.2em;
  padding-right: 0.25em;
}

.sek-quote.sek-quote-design.sek-border-before .sek-cite::before {
  display: block;
  content: '';
  top: 1em;
  position: absolute;
  background: none;
  width: 2em;
  height: auto;
  left: 0;
  border-top: 1px solid;
}

.sek-quote.sek-quote-design.sek-quote-icon-before {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
}

.sek-quote.sek-quote-design.sek-quote-icon-before .sek-quote-content *:last-child {
  margin-bottom: .75em;
}

.sek-quote.sek-quote-design.sek-quote-icon-before::before {
  content: '\f10d';
  color: #ccc;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  font-family: 'Font Awesome 5 Free';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  text-rendering: auto;
  display: -ms-flexbox;
  display: flex;
  position: static;
  width: auto;
  margin: 0;
  left: 0;
  position: absolute;
  top: 0;
}

[data-sek-module-type="czr_button_module"] .sek-module-inner {
  text-align: center;
}

.sek-module-inner .sek-btn {
  background: #020202;
  color: #ffffff;
  padding: 0.5em 1em;
}

.sek-module-inner .sek-btn i {
  margin: 0 8px;
}

.sek-module-inner .sek-btn:hover, .sek-module-inner .sek-btn:focus, .sek-module-inner .sek-btn:active {
  color: #ffffff;
}

[data-sek-module-type="czr_button_module"] .sek-module-inner .sek-btn:focus, [data-sek-module-type="czr_button_module"] .sek-module-inner .sek-btn:hover {
  text-decoration: none;
}

.sek-btn-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.sek-btn.box-shadow {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
}

.sek-btn.box-shadow.push-effect:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.sek-post-grid-wrapper {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.sek-post-grid-wrapper .sek-grid-items {
  grid-row-gap: 25px;
}

.sek-post-grid-wrapper .sek-grid-items.sek-list-layout article > *:not(:last-child):not(.sek-pg-thumbnail) {
  margin-bottom: 15px;
}

.sek-post-grid-wrapper .sek-grid-items.sek-grid-layout article > *:not(:last-child) {
  margin-bottom: 15px;
}

.sek-post-grid-wrapper .sek-grid-items article > :first-child {
  margin-top: 0 !important;
}

.sek-post-grid-wrapper .sek-grid-items article > :last-child {
  margin-top: 0 !important;
}

.sek-post-grid-wrapper .sek-grid-items article > *:not(:last-child) {
  margin-top: 0 !important;
}

.sek-post-grid-wrapper .sek-grid-items article .sek-pg-content > *:not(:last-child) {
  margin-top: 0 !important;
  margin-bottom: 15px;
}

.sek-post-grid-wrapper .sek-grid-items article .sek-pg-content > :first-child {
  margin-top: 0 !important;
}

.sek-post-grid-wrapper .sek-grid-items article .sek-pg-content > :last-child {
  margin-top: 0 !important;
}

.sek-post-grid-wrapper .sek-grid-items.sek-shadow-on-hover article {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sek-post-grid-wrapper .sek-grid-items.sek-shadow-on-hover article:hover {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18), 0 10px 10px rgba(0, 0, 0, 0.15);
}

.sek-post-grid-wrapper .sek-pg-thumbnail {
  box-shadow: 0 5px 5px 0 rgba(18, 63, 82, 0.035), 0 0 0 1px rgba(176, 181, 193, 0.2);
  background-color: #fff;
  overflow: hidden;
}

.sek-post-grid-wrapper .sek-pg-thumbnail a {
  display: block;
  position: relative;
}

.sek-post-grid-wrapper .sek-pg-thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}

.sek-post-grid-wrapper .sek-thumb-custom-height .sek-pg-thumbnail a {
  height: 0;
  padding-top: 65%;
}

@media all and (-ms-high-contrast: none) {
  .sek-post-grid-wrapper .sek-thumb-custom-height .sek-pg-thumbnail a {
    height: auto !important;
    padding-top: inherit !important;
  }
}

.sek-post-grid-wrapper .sek-thumb-custom-height .sek-pg-thumbnail img {
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: none;
  max-width: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

@media all and (-ms-high-contrast: none) {
  .sek-post-grid-wrapper .sek-thumb-custom-height .sek-pg-thumbnail img {
    height: auto !important;
    position: relative;
  }
}

.sek-post-grid-wrapper .sek-pg-metas > span:not(:last-child)::after {
  content: "\B7";
  vertical-align: middle;
  margin: 0 5px;
  line-height: 1;
}

.sek-post-grid-wrapper .sek-pg-content {
  text-align: left;
}

.sek-post-grid-wrapper .sek-excerpt > :last-child {
  margin-bottom: 0;
}

.sek-module-inner .sek-post-grid-wrapper .sek-pg-category a {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: #767676;
}

.sek-module-inner .sek-post-grid-wrapper .sek-pg-title {
  font-size: 28px;
  line-height: 1.3em;
}

.sek-module-inner .sek-post-grid-wrapper .sek-pg-title a {
  text-decoration: none;
  color: #444;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.3em;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.sek-module-inner .sek-post-grid-wrapper .sek-pg-metas span, .sek-module-inner .sek-post-grid-wrapper .sek-pg-metas a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #767676;
}

.sek-module-inner .sek-post-grid-wrapper .sek-pg-content p {
  margin: 0 0 15px 0;
  line-height: 1.5;
  font-size: 16px;
  color: #494949;
}

.sek-post-grid-wrapper .sek-list-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
}

@media all and (-ms-high-contrast: none) {
  .sek-post-grid-wrapper .sek-list-layout {
    display: block !important;
  }
}

.sek-post-grid-wrapper .sek-list-layout article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

@media all and (-ms-high-contrast: none) {
  .sek-post-grid-wrapper .sek-list-layout article {
    display: block !important;
    padding-top: 10px;
  }
}

.sek-post-grid-wrapper .sek-list-layout article > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.sek-post-grid-wrapper .sek-list-layout article.sek-has-thumb {
  -ms-grid-columns: 30% minmax(0, 1fr);
  grid-template-columns: 30% minmax(0, 1fr);
}

.sek-post-grid-wrapper .sek-list-layout article .sek-pg-thumbnail {
  margin-bottom: 0;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.sek-post-grid-wrapper .sek-grid-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

@media all and (-ms-high-contrast: none) {
  .sek-post-grid-wrapper .sek-grid-layout {
    display: block !important;
  }
}

.sek-post-grid-wrapper .sek-grid-layout > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.sek-post-grid-wrapper .sek-grid-layout > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.sek-post-grid-wrapper .sek-grid-layout.sek-all-col-1 {
  -ms-grid-columns: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
}

.sek-post-grid-wrapper .sek-grid-layout.sek-all-col-2 {
  -ms-grid-columns: minmax(0, 1fr) 20px minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.sek-post-grid-wrapper .sek-grid-layout.sek-all-col-3 {
  -ms-grid-columns: minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.sek-post-grid-wrapper .sek-grid-layout.sek-all-col-4 {
  -ms-grid-columns: minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media (min-width: 768px) {
  .sek-post-grid-wrapper .sek-grid-layout.sek-desktop-col-1 {
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
  }
  .sek-post-grid-wrapper .sek-grid-layout.sek-desktop-col-2 {
    -ms-grid-columns: minmax(0, 1fr) 20px minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .sek-post-grid-wrapper .sek-grid-layout.sek-desktop-col-3 {
    -ms-grid-columns: minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .sek-post-grid-wrapper .sek-grid-layout.sek-desktop-col-4 {
    -ms-grid-columns: minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .sek-post-grid-wrapper .sek-grid-layout.sek-tablet-col-1 {
    -ms-grid-columns: minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) !important;
  }
  .sek-post-grid-wrapper .sek-grid-layout.sek-tablet-col-2 {
    -ms-grid-columns: minmax(0, 1fr) 20px minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) !important;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .sek-post-grid-wrapper .sek-grid-layout.sek-tablet-col-3 {
    -ms-grid-columns: minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) !important;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .sek-post-grid-wrapper .sek-grid-layout.sek-tablet-col-4 {
    -ms-grid-columns: minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) !important;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

@media (max-width: 575.98px) {
  .sek-post-grid-wrapper .sek-grid-layout.sek-mobile-col-1 {
    -ms-grid-columns: minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) !important;
  }
  .sek-post-grid-wrapper .sek-grid-layout.sek-mobile-col-2 {
    -ms-grid-columns: minmax(0, 1fr) 20px minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) !important;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .sek-post-grid-wrapper .sek-grid-layout.sek-mobile-col-3 {
    -ms-grid-columns: minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) !important;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .sek-post-grid-wrapper .sek-grid-layout.sek-mobile-col-4 {
    -ms-grid-columns: minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) !important;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .sek-post-grid-wrapper.sek-has-tablet-breakpoint .sek-list-layout article {
    -ms-grid-columns: minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) !important;
    grid-gap: 0;
  }
  .sek-post-grid-wrapper.sek-has-tablet-breakpoint .sek-list-layout article .sek-pg-thumbnail {
    margin-bottom: 15px;
  }
}

@media (max-width: 575.98px) {
  .sek-post-grid-wrapper.sek-has-mobile-breakpoint .sek-list-layout article {
    -ms-grid-columns: minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) !important;
    grid-gap: 0;
  }
  .sek-post-grid-wrapper.sek-has-mobile-breakpoint .sek-list-layout article .sek-pg-thumbnail {
    margin-bottom: 15px;
  }
}

.sek-post-navigation {
  background-color: #f7f8f9;
  margin-top: 20px;
}

.sek-post-navigation .sek-pagination {
  text-align: center;
}

.sek-post-navigation .sek-pagination ul {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.sek-post-navigation .sek-pagination .current {
  font-weight: 600;
}

.sek-post-navigation .sek-pagination .sek-pag-list > * {
  margin: 0 5px;
}

.sek-post-navigation .sek-pagination .sek-pag-list {
  margin: 0 -5px;
}

.sek-post-navigation nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sek-post-navigation ul.sek-czr-pager {
  margin: 0;
}

.sek-post-navigation li {
  display: inline-block;
}

.sek-post-navigation a {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5A5A5A;
}

.sek-post-navigation a:hover, .sek-post-navigation a:visited {
  color: #3b3b3b;
}

.sek-post-navigation .sek-czr-pager > li {
  display: block;
}

.sek-post-navigation .sek-nav-dir {
  display: block;
}

.sek-post-navigation .sek-nav-dir > a {
  max-width: 100%;
}

.sek-post-navigation a i.arrow {
  font-size: 0.9em;
}

.sek-post-navigation .page-numbers, .sek-post-navigation a {
  font-family: inherit;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s ease;
  position: relative;
}

.sek-post-navigation .page-numbers {
  font-family: inherit;
}

.sek-post-navigation .sek-meta-nav {
  display: -ms-flexbox;
  display: flex;
  transition: all .2s,.6s ease;
  opacity: .7;
}

.sek-post-navigation a:hover .sek-meta-nav {
  opacity: 1;
}

.sek-post-navigation .sek-meta-nav-title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 0.9em;
}

.sek-simple-form-wrapper input[type=text], .sek-simple-form-wrapper textarea {
  font-size: 16px;
  width: 100% !important;
  padding: 0.4em 0.5em;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  font-weight: normal;
  max-width: 100%;
  border: none;
  color: #555555;
  background-color: #ffffff;
}

.sek-simple-form-wrapper textarea {
  height: auto;
  max-height: 150px;
}

.sek-simple-form-wrapper .sek-form-field {
  margin-bottom: 15px;
  clear: both;
}

.sek-simple-form-wrapper label {
  color: #444444;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 0 0 3px 0;
  width: auto;
  display: block;
}

.sek-simple-form-wrapper.use-outset-shadow .sek-form-field input[type="text"], .sek-simple-form-wrapper.use-outset-shadow .sek-form-field textarea {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
}

.sek-simple-form-wrapper.use-inset-shadow .sek-form-field input[type="text"], .sek-simple-form-wrapper.use-inset-shadow .sek-form-field textarea {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.sek-simple-form-wrapper #sek-form-respond {
  padding: 20px 0;
}

.sek-form-message {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  line-height: 1.5em;
  font-size: 16px;
  border-radius: 4px;
}

.sek-form-message.sek-mail-failure {
  color: #ff0000;
  border: 1px solid #ff0000;
  background: none;
  background: rgba(255, 0, 0, 0.05);
}

.sek-form-message.sek-mail-success {
  color: #008000;
  border: 1px solid #008000;
  background: none;
  background: rgba(0, 128, 0, 0.05);
}

.sek-form-message.sek-mail-aborted {
  color: #ffa500;
  border: 1px solid #ffa500;
  background: none;
  background: rgba(255, 165, 0, 0.05);
}

.grecaptcha-badge {
  z-index: 1;
}

.sek-hide-rc-badge .grecaptcha-badge {
  display: none;
}

[data-sek-module-type="czr_tiny_mce_editor_module"] a {
  text-decoration: underline;
}

[data-sek-module-type="czr_social_icons_module"] .sek-module-inner .sek-social-icons-wrapper {
  margin: 10px 0;
}

.sek-module-inner .sek-social-icons-wrapper {
  text-align: center;
}

.sek-module-inner .sek-social-icons-wrapper > *:not(:last-child) {
  padding-right: 8px;
}

.sek-module-inner .sek-social-icons-wrapper > li {
  display: inline-block;
}

.sek-module-inner .sek-social-icons-wrapper > li .sek-social-icon {
  font-size: 28px;
  line-height: 1.5em;
}

.sek-module-inner .sek-social-icons-wrapper > li .sek-social-icon {
  transition: all 0.2s ease-in-out;
}

[data-sek-module-type="czr_img_slider_module"] {
  /* SWIPER BULLETS */
  /* SWIPER ARROWS */
}

[data-sek-module-type="czr_img_slider_module"] .swiper-container {
  width: 100%;
  height: 100%;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-container .swiper-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 400px;
}

@media (max-width: 575.98px) {
  [data-sek-module-type="czr_img_slider_module"] .swiper-container .swiper-wrapper {
    height: 200px;
  }
}

[data-sek-module-type="czr_img_slider_module"] .swiper-container[data-sek-image-layout="nimble-wizard"] .sek-carousel-img {
  height: 100%;
  overflow: hidden;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-container[data-sek-image-layout="nimble-wizard"] .sek-carousel-img img {
  max-width: none;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-container[data-sek-image-layout="height-100"] .sek-carousel-img {
  height: 100%;
  width: auto;
  overflow: hidden;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-container[data-sek-image-layout="height-100"] .sek-carousel-img img {
  height: 100%;
  width: auto;
  max-width: none;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide image vertically */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-slide .sek-carousel-img {
  width: 100%;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-slide .sek-carousel-img img {
  width: 100%;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-slide .sek-carousel-img img.sek-h-centrd {
  width: auto !important;
  max-width: none !important;
  position: relative;
  opacity: 1;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-slide .sek-carousel-img img.sek-v-centrd {
  height: auto !important;
  max-height: none !important;
  vertical-align: top;
  position: relative;
  max-width: none !important;
  opacity: 1;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-slide[data-sek-has-overlay="true"] .sek-carousel-img::after {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  background-color: #000000;
  opacity: 0.3;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-slide .sek-slider-text-wrapper {
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  position: absolute;
  /* Center slide text vertically
         => consistent with defaults in module registration */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-slide .sek-slider-text-content {
  height: auto;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  text-align: center;
  z-index: 3;
  overflow: hidden;
  color: #e2e2e2;
  font-size: 16px;
  line-height: 1.5em;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-slide .sek-slider-text-content * {
  font-size: 16px;
  line-height: 1.5em;
}

[data-sek-module-type="czr_img_slider_module"] .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

[data-sek-module-type="czr_img_slider_module"] .sek-swiper-nav {
  cursor: pointer;
}

[data-sek-module-type="czr_img_slider_module"] .sek-swiper-nav .sek-chevron {
  display: inline-block;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 11px;
  height: 11px;
}

[data-sek-module-type="czr_img_slider_module"] .sek-swiper-nav .sek-swiper-prev {
  left: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0px;
}

[data-sek-module-type="czr_img_slider_module"] .sek-swiper-nav .sek-swiper-prev .sek-chevron {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

[data-sek-module-type="czr_img_slider_module"] .sek-swiper-nav .sek-swiper-next {
  right: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 2px;
}

[data-sek-module-type="czr_img_slider_module"] .sek-swiper-nav .sek-swiper-next .sek-chevron {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

[data-sek-module-type="czr_img_slider_module"] .sek-swiper-nav .sek-swiper-prev, [data-sek-module-type="czr_img_slider_module"] .sek-swiper-nav .sek-swiper-next {
  position: absolute;
  z-index: 2;
  top: calc(50% - 30px);
  text-align: center;
  margin-top: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  height: 60px;
  width: 50px;
  opacity: 0.6;
  background-color: rgba(32, 32, 32, 0.4);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  line-height: 64px;
  cursor: pointer;
  font-size: 18px;
}

[data-sek-module-type="czr_img_slider_module"] .sek-swiper-nav .sek-swiper-prev:hover, [data-sek-module-type="czr_img_slider_module"] .sek-swiper-nav .sek-swiper-next:hover {
  background-color: rgba(32, 32, 32, 0.7);
  opacity: 1;
  width: 100px;
}

@media (max-width: 575.98px) {
  [data-sek-module-type="czr_img_slider_module"] [data-sek-hide-nav-on-mobile="true"] .swiper-pagination {
    display: none;
  }
  [data-sek-module-type="czr_img_slider_module"] [data-sek-hide-nav-on-mobile="true"] .sek-swiper-nav {
    display: none;
  }
}

.sek-accord-wrapper {
  text-align: left;
}

.sek-accord-wrapper .sek-accord-item {
  border: 1px solid #e3e3e3;
  overflow: hidden;
}

.sek-accord-wrapper .sek-accord-item:not(:last-child) {
  margin-bottom: 0px;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title {
  cursor: pointer;
  color: #565656;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e3e3e3;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title:hover * {
  color: #1e261f;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title:hover button span {
  background: #1e261f;
}

[data-sek-expanded="true"] .sek-accord-title * {
  color: #1e261f;
}

[data-sek-expanded="true"] .sek-accord-title button span {
  background: #1e261f;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title .sek-inner-accord-title {
  padding-right: 10px;
  max-width: calc(100% - 30px);
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title .sek-inner-accord-title, .sek-accord-wrapper .sek-accord-item .sek-accord-title button span {
  transition: all 0.15s ease-in-out;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title button {
  color: #1e261f;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  background: none;
  box-shadow: none;
  font-size: 1.5em;
  position: relative;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title button span {
  position: absolute;
  transition: .3s;
  background: #565656;
  border-radius: 2px;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title button span:first-of-type {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-title button span:last-of-type {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

[data-sek-expanded="true"] button span:first-of-type, [data-sek-expanded="true"] button span:last-of-type {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

[data-sek-expanded="true"] button span:last-of-type {
  left: 50%;
  right: 50%;
}

[data-sek-has-global-border="true"][data-sek-has-title-border="true"] [data-sek-expanded="false"] .sek-accord-title {
  border-bottom: none;
}

[data-sek-has-global-border="true"][data-sek-has-title-border="true"] .sek-accord-item:not(:last-child) {
  border-bottom: none;
}

.sek-accord-wrapper .sek-accord-item[data-sek-expanded="true"] .sek-accord-title button span:first-of-type, .sek-accord-wrapper .sek-accord-item[data-sek-expanded="true"] .sek-accord-title button span:last-of-type {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sek-accord-wrapper .sek-accord-item[data-sek-expanded="true"] .sek-accord-title button span:last-of-type {
  left: 50%;
  right: 50%;
}

.sek-accord-wrapper .sek-accord-item .sek-accord-content {
  padding: 15px 20px;
  background: #f2f2f2;
  color: #1e261f;
  font-size: 16px;
  line-height: 1.5em;
}

.sek-accord-wrapper .sek-accord-item[data-sek-expanded="true"] > .sek-accord-content {
  display: block;
}

.sek-accord-wrapper .sek-accord-item[data-sek-expanded="false"] > .sek-accord-content {
  display: none;
}

.sek-module-inner {
  line-height: 1.5em;
}

.sek-module-inner h1, .sek-module-inner h2, .sek-module-inner h3, .sek-module-inner h4, .sek-module-inner h5, .sek-module-inner h6, .sek-module-inner p {
  line-height: 1.5em;
}

.sek-module-inner p {
  margin: 0 0 1em;
  padding: 0;
}

.sek-module-inner a {
  text-decoration: none;
  box-shadow: none;
}

.sek-module-inner img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

[data-sek-module-type="czr_tiny_mce_editor_module"] .sek-module-inner a,
[data-sek-module-type="czr_shortcode_module"] .sek-module-inner a,
[data-sek-module-type="czr_accordion_module"] .sek-module-inner a,
[data-sek-module-type="czr_simple_html_module"] .sek-module-inner a {
  text-decoration: underline;
}

body .sek-module-inner h1:before, body .sek-module-inner h2:before, body .sek-module-inner h3:before, body .sek-module-inner h4:before, body .sek-module-inner h5:before, body .sek-module-inner h6:before {
  content: none;
  background: none;
}

/* make sure that the location level occupies 100% of the width */
[data-sek-level="location"] {
  clear: both;
  font-size: 16px;
}

/* To make vertical alignment possible in sections */
.sek-section, .sek-column, .sek-module {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.sek-column-inner, .sek-module-inner {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* To allow horizontal centering of modules
  @see https://github.com/presscustomizr/nimble-builder/issues/119
*/
/*  - sections in locations */
/*  - columns in sections */
/*  - modules in columns */
.sek-column-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sek-module {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
  max-width: 100%;
}

/* a nested sektion should reset its parent column padding
@see https://github.com/presscustomizr/nimble-builder/issues/25
*/
[data-sek-is-nested="true"] .sek-container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/* MODULE PLACEHOLDER */
/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}*/
/* @see https://github.com/google/material-design-icons/blob/master/iconfont/material-icons.css */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/material-icons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/material-icons/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/material-icons/MaterialIcons-Regular.woff") format("woff"), url("../fonts/material-icons/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

.sek-module-placeholder {
  text-align: center;
}

.sek-module-placeholder .material-icons {
  font-size: inherit;
  color: #cfcfcf;
}

/* LEVEL VISIBILITY BY DEVICE */
@media (min-width: 767px) {
  [data-sek-level="location"] .sek-hidden-on-desktops {
    display: none;
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  [data-sek-level="location"] .sek-hidden-on-tablets {
    display: none;
  }
}

@media (max-width: 575px) {
  [data-sek-level="location"] .sek-hidden-on-mobiles {
    display: none;
  }
}

/* NIMBLE TEMPLATE GENERAL STYLING */
/* <inspired by Twenty Seventeed WP theme> */
.sek-screen-reader-text {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

#nimble-page {
  position: relative;
  word-wrap: break-word;
}

/* </inspired by Twenty Seventeen WP theme> */
/* Nimble btn in admin top bar */
#wpadminbar .sek-nimble-icon {
  display: inline-block;
}

#wpadminbar .sek-nimble-icon img {
  width: 28px;
  position: absolute;
  top: 2px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}

#wpadminbar .sek-nimble-icon:hover img {
  -webkit-filter: none;
  filter: none;
  -webkit-filter: none;
  filter: none;
}

#wpadminbar .sek-nimble-icon .sek-nimble-admin-bar-title {
  padding-left: 30px;
}

[data-sek-has-bg="true"] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

[data-sek-level="location"] [data-sek-bg-parallax="true"] {
  background-attachment: fixed;
  background-size: cover;
}

@supports (-webkit-overflow-scrolling: touch) {
  body [data-sek-level="location"] [data-sek-bg-parallax="true"], body [data-sek-level="location"] [data-sek-bg-fixed="true"] {
    background-attachment: scroll;
  }
}

[data-sek-level="location"] [data-sek-level] {
  transition: 0s linear;
  transition-property: background-position;
}

.sek-module .sek-module-inner .alx-tab.thumbs-enabled > li {
  padding-left: 94px;
}

.sek-module .sek-module-inner .widget_hu_tabs ul,
.sek-module .sek-module-inner .widget_hu_tabs ol {
  margin-left: 0;
  margin-bottom: 0;
}

.sek-module .sek-module-inner .widget_hu_tabs .alx-tabs-nav {
  margin-bottom: 10px;
}
/*# sourceMappingURL=sek-base.css.map */