/* @see https://github.com/google/material-design-icons/blob/master/iconfont/material-icons.css */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
       url('../fonts/material-icons/MaterialIcons-Regular.woff') format('woff'),
       url('../fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}



/* OVERRIDE WP CUSTOMIZER */

/* FOR LEVEL TREE AND TEMPLATE GALLERY */
/* space for the Level Tree and template gallery */
#customize-preview iframe, #nimble-level-tree {
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top, 0.3s ease-in-out;
  -ms-transition: top, 0.3s ease-in-out;
  -o-transition: top, 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}
#customize-preview iframe {
  z-index: 1;
}

ul[id*="sub-accordion-section-__nimble__"] {
    background: #F2F2F2!important;
}
/* No sliding transition needed when switching from a section to another when generating the UI's */
#customize-theme-controls .customize-pane-child[id*="__nimble__"] {
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
}
/* CONTROLS */
li[id*="__nimble__"].customize-control {
    margin: 4px 0;
    padding: 2px;
    width: calc( 100% - 4px );
    border: 1px solid rgba(221, 221, 221, 0.43);
    box-shadow: 1px 1px 2px 0 rgba(75, 75, 85, 0.2);
    -webkit-box-shadow: 1px 1px 2px 0 rgba(75, 75, 85, 0.2);
    background-color: #fff;
}
li[id*="__nimble__"].customize-control .customize-control-title {
  font-size: 13.5px;
  line-height: 1.5em;
  font-weight: normal;
  margin-bottom: 4px;
}
li[id*="__nimble__"].customize-control label {
  cursor: pointer;
}
li[id*="__nimble__"].customize-control span.customize-control-title:first-child {
  margin-left: 21px;
}

/* SECTIONS */
/* nov 2019 => experimental fix for experimental fix for https://github.com/presscustomizr/nimble-builder/issues/539 */
#customize-theme-controls ul[id*="sub-accordion-section-__nimble__"].open {
  top: 0!important;
}


/* VARIOUS HELPER CLASSES */
.sek-float-right {float: right;}
.sek-float-left { float: left;}
.sek-flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


/* FRONT MODULE UI */
li[id^="accordion-section-__nimble__"] {
  margin-top: 16px;
}
li[id^="accordion-section-__nimble__"] > h3 {
  border-top:1px solid #ddd;
}

