
/* USER SECTIONS */
.sek-user-section-wrapper {
  margin-bottom: 15px;
  float: left;
}
.sek-user-section-wrapper {
  width: 100%
}
.sek-user-section-wrapper [data-sek-is-user-section="true"] {
  height: auto;
  padding: 2%;
  width: 89%;
}
.sek-saved-section-date {
  font-size: 11px;
  text-align: left;
}
.sek-saved-section-description {
  font-size: 13px;
  font-style: italic;
  text-align: left;
}

.sek-dragging [data-sek-content-type] {
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.25)!important;
  box-shadow: 0 2px 5px rgba(0,0,0,.25)!important;
}
.sek-dragged {
  background: #33b3db3d;
  background: rgba(51, 179, 219, 0.24);
}

[data-sek-content-type] .sek-module-icon {
  display: block;
  padding: 0;
}
[data-sek-content-type] .sek-module-icon .nimble-module-icons {
  font-size: 3rem;
  max-width: 100%;/*60%!important;*/
  color: #878787;
  max-height: 86px;
}

/* when the module icon is a font icon */
[data-sek-content-type] .sek-module-icon.is-font-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  min-height: 70%;
}
[data-sek-content-type] .sek-module-icon.is-font-icon i {
  font-size: 35px;
}
[data-sek-content-type] .sek-module-title {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6px 0px;
  font-size: 0.75rem;
  height: 45px;
  justify-content: center;
  position: relative;
  top: -18px;
}
/*.sek-grabbing {
  cursor: -webkit-grabbing;
}
*/
.sek-centered-module-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
