
/* TOP SAVE TMPL UI
* introduced april 2020 for https://github.com/presscustomizr/nimble-builder/issues/655
*/
#nimble-top-tmpl-save-ui {
  height: auto;
  min-height: 300px;
  padding: 20px;
  position: absolute;
  top: -300px;
  /*text-align: center;*/
  right: 0;
  left: 0;
  z-index: 20;
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all, 0.3s ease-in-out;
  -ms-transition: all, 0.3s ease-in-out;
  -o-transition: all, 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*visibility: hidden;*/
  opacity: 0.3;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  flex: 0 0 100%;*/
  max-width: 100%;
  font-size: 16px;
    line-height: 1.5em;
}

/*#nimble-top-tmpl-save-ui > div {
  width: 100%;
}*/

body.sek-save-tmpl-ui-visible #nimble-top-tmpl-save-ui {
  /*visibility: inherit;*/
  opacity: 1;
  top:36px;
}

#nimble-top-tmpl-save-ui .sek-close-dialog {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#nimble-top-tmpl-save-ui #sek-saved-tmpl-title.error {
  border: 1px solid #ff0000;
}


/* INPUT STYLE */
.sek-tmpl-title, .sek-tmpl-description, select.sek-saved-tmpl-picker {
  margin-top: 10px;
  float: left;
  clear: both;
  width: 100%;
}

.sek-tmpl-description textarea, input#sek-saved-tmpl-title, select.sek-saved-tmpl-picker {
  width: 97%;
  max-width: none;
}
.sek-tmpl-description textarea {
  min-height: 100px;
}
.sek-saved-tmpl-picker,
.sek-tmpl-title,
.sek-tmpl-description,
.sek-save-tmpl-action .sek-do-save-tmpl,
.sek-save-tmpl-action .sek-do-update-tmpl,
.sek-save-tmpl-action .sek-do-remove-tmpl { display: none;}

/* the template picker is visible when template collection has been ajaxily fetched */
.tmpl-collection-populated .sek-saved-tmpl-picker{display:block}

.sek-tmpl-remove-dialog {
  display: none;
  color: red;
  background: #ffffff;
  padding: 5px;
  text-transform: uppercase;
}
/* VISIBILITY = f(mode) */
[data-sek-tmpl-dialog-mode="save"] .sek-saved-tmpl-picker {display: none;}
[data-sek-tmpl-dialog-mode="save"] .sek-tmpl-title {display: block;}
[data-sek-tmpl-dialog-mode="save"] .sek-tmpl-description {display: block;}
[data-sek-tmpl-dialog-mode="save"] .sek-do-save-tmpl {display: block;}

[data-sek-tmpl-dialog-mode="update"].sek-tmpl-update-selected .sek-tmpl-title {display: block;}
[data-sek-tmpl-dialog-mode="update"].sek-tmpl-update-selected .sek-tmpl-description {display: block;}
[data-sek-tmpl-dialog-mode="update"].sek-tmpl-update-selected .sek-do-update-tmpl {display: block;}

[data-sek-tmpl-dialog-mode="remove"].sek-tmpl-remove-selected .sek-do-remove-tmpl {display: block;}








/* TOP SAVE SECTION UI */
#nimble-top-section-save-ui {
  height: 300px;
  padding: 20px;
  position: absolute;
  top: -300px;
  /*text-align: center;*/
  right: 0;
  left: 0;
  z-index: 20;
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all, 0.3s ease-in-out;
  -ms-transition: all, 0.3s ease-in-out;
  -o-transition: all, 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*visibility: hidden;*/
  opacity: 0.3;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  flex: 0 0 100%;*/
  max-width: 100%;
}

#nimble-top-section-save-ui > div {
  width: 100%;
}

body.sek-save-section-ui-visible #nimble-top-section-save-ui {
  /*visibility: inherit;*/
  opacity: 1;
  top:36px;
}

#nimble-top-section-save-ui .sek-close-dialog {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#nimble-top-section-save-ui #sek-saved-section-title.error {
  border: 1px solid #ff0000;
}