
/* TEMPLATE GALLERY */
#nimble-tmpl-gallery, #nimble-tmpl-gallery .sek-tmpl-gal-import-dialog {
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top, 0.3s ease-in-out;
  -ms-transition: top, 0.3s ease-in-out;
  -o-transition: top, 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}

#nimble-tmpl-gallery {
  background: rgba(240, 240, 240, 0.89)!important;
  border-bottom: 1px solid #aaa!important;
  color: #222!important;
  font-size: 12px!important;
  position: absolute;
  top: -100vh;
  right: 0;
  left: 0;
  height: calc(100vh - 36px);
  overflow: auto;
  padding: 15px;
  z-index: 1000;
}
.sek-template-gallery-expanded #nimble-tmpl-gallery {
  top: 36px;
}


/* IMPORT DIALOG BOX */
#nimble-tmpl-gallery .sek-tmpl-gal-import-dialog {
  background: rgba(240, 240, 240, 0.89)!important;
  border-bottom: 1px solid #aaa!important;
  color: #222!important;
  font-size: 12px!important;
  position: absolute;
  top: -100vh;
  right: 0;
  left: 0;
  height: calc(100vh - 36px);
  overflow: auto;
  padding: 15px;
  z-index: 1001;
}
.sek-tmpl-dialog-expanded #nimble-tmpl-gallery .sek-tmpl-gal-import-dialog {
  top: 36px;
}



#nimble-tmpl-gallery .sek-tmpl-gallery-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-right: -10px;
  margin-left: -10px;
}
#nimble-tmpl-gallery .sek-tmpl-gallery-inner *, #nimble-tmpl-gallery .sek-tmpl-gallery-inner *:after, #nimble-tmpl-gallery .sek-tmpl-gallery-inner *:before{
  box-sizing: border-box;
}
/* TMPL ITEM  */
.sek-tmpl-gallery-inner .sek-tmpl-item {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 5px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .sek-tmpl-gallery-inner .sek-tmpl-item {
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
@media (max-width: 1000px) {
  .sek-tmpl-gallery-inner .sek-tmpl-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.sek-tmpl-info {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  padding: 10px;
  overflow: hidden;
}
.sek-tmpl-info > h3, .sek-tmpl-info > p {
  color: #ffffff;
  overflow: hidden;
}
.sek-tmpl-info > h3 {
  font-size: 15px;
  margin: 0.5em 0;
}
.sek-tmpl-info > p {
  font-size: 13px;
  margin: 0.5em 0;
}

/* USE TMPL BUTTON */
.sek-tmpl-info > .use-tmpl {
    cursor: pointer;
    font-size: 25px;
    width: 50px;
    height: 50px;
    color: #535353;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    opacity: 0;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    -webkit-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}
.sek-tmpl-info:hover > .use-tmpl {
  opacity: 0.7;
}
.sek-tmpl-info > .use-tmpl:hover {
  opacity: 0.95;
}

/* REMOVE TMPL BUTTON */
.sek-tmpl-info > .remove-tmpl {
    cursor: pointer;
    font-size: 16px;
    width: 30px;
    height: 30px;
    color: #535353;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    opacity: 0;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    -webkit-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.sek-tmpl-info:hover > .remove-tmpl {
  opacity: 0.7;
}
.sek-tmpl-info > .remove-tmpl:hover {
  opacity: 0.95;
  color: red;
}

/*.sek-tmpl-gallery-inner .sek-tmpl-item:after, .sek-tmpl-gallery-inner .sek-tmpl-item:before {
    box-sizing: inherit;
}*/
.sek-tmpl-gallery-inner .sek-tmpl-thumb {
    cursor: pointer;
    position: relative;
    height: 350px;
    width: 100%;
    background-size: cover;
}
.sek-tmpl-thumb img { max-width: 100%; }
.sek-tmpl-gallery-inner .sek-tmpl-thumb::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.45;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.sek-tmpl-gallery-inner .sek-tmpl-item:hover .sek-tmpl-thumb::after {
  opacity: 0.65;
}

/* FILTER AND CLOSE BUTTON*/
#sek-gal-top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
input.sek-filter-tmpl {
  width: 60%;
}
#sek-gal-top-bar .sek-ui-button-group {
  width: 37%;
  text-align: right;
}
.search-active .sek-tmpl-item {
  display: none;
}
.search-active .sek-tmpl-item.search-match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* TMPL SOURCE SWITCHER */
#sek-tmpl-source-switcher{
  width:100%;
  padding: 10px 0;
}
