/* FEEDBACK UI */
#nimble-feedback {
  background: #ffffff;
  border-bottom: 1px solid #aaa!important;
  border-left: 4px solid #00a0d2;
  color: #222!important;
  font-size: 12px!important;
  position: absolute;
  top: 36px;
  right: 0;
  left: 0;
  height: 150px;
  overflow: auto;
  padding: 15px;
  z-index: 0;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top, 0.3s ease-in-out;
  -ms-transition: top, 0.3s ease-in-out;
  -o-transition: top, 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nimble-feedback-ui-visible #customize-preview iframe {
  top: 217px;
  height: calc(100vh - 217px);
}

/*#nimble-feedback .sek-main-feedback-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}*/
#nimble-feedback .sek-main-feedback-heading p {
  margin:0;
}

#nimble-feedback .sek-feedback-step-three-thanks p { font-size: 17px;}

.sek-feedback-nimble-icon {
  height: 40px;
  width: 40px;
}
.sek-feedback-nimble-icon.big {
    height: 60px;
    width: 60px;
}

.wp-core-ui #nimble-feedback .sek-feedback-btn {
    margin: 0 6px;
    -webkit-transition: background 200ms linear, color 200ms linear;
-ms-transition: background 200ms linear, color 200ms linear;
transition: background 200ms linear, color 200ms linear;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 600;
}
.wp-core-ui #nimble-feedback .sek-feedback-btn.sek-pos {
  border-color: #da791d !important;
  background: #f37656;
  color: #fff;
}
.wp-core-ui #nimble-feedback .sek-feedback-btn.sek-pos:hover, .wp-core-ui #nimble-feedback .sek-feedback-btn.sek-pos:focus {
  border-color: #f37656 !important;
  background: transparent;
  color: #f37656;
  opacity: 1;
}

.wp-core-ui #nimble-feedback .sek-feedback-btn.sek-neg {
  border: 1px solid #f37656;
  color: #f37656;
  background: #ffffff;
}
.wp-core-ui #nimble-feedback .sek-feedback-btn.sek-neg:hover, .wp-core-ui #nimble-feedback .sek-feedback-btn.sek-neg:focus {
  color: #ffffff;
  background: #f37656;
  border: 1px solid #f37656;
}
.wp-core-ui #nimble-feedback .sek-feedback-btn.sek-already {
  background: none;
  border: none;
  color: #00a0d2;
  font-weight:normal;
}
.wp-core-ui #nimble-feedback .sek-feedback-btn.sek-close-feedback-ui {
  background: #ffffff;
  border: none;
  font-weight:normal;
}
.wp-core-ui #nimble-feedback .sek-feedback-btn.sek-close-feedback-ui:hover {
  color:#f37656;
}

#nimble-feedback p {
  font-size: 14px;
  line-height: 1.5em;
  font-style: normal;
  margin: 0 0 10px;
}
#nimble-feedback .sek-stars{color:#ffb900; cursor:pointer;font-size: 25px;}
#nimble-feedback .sek-signature {
  font-size: 13px;
  font-style: italic;
}
.sek-close-feedback-ui {
  position: fixed;
  top: 44px;
  right: 25px;
}

.sek-feedback-step-two-enjoying, .sek-feedback-step-two-not-enjoying, .sek-feedback-step-three-thanks { display: none;}