/* BASIC STYLING */
.sektion-wrapper {
  min-height: 50px;
  margin-top: 21px;/* <= Needed to see the ui button of the first section, if the container of the parent location is overflow:hidden; */
}
.sek-section {
  /*padding: 23px 0px 0;*/
  position: relative;/* <= Needed for the placement of the ui icons container revealed on hover */
}

/* only when previewing */
/* @fixed since https://github.com/presscustomizr/nimble-builder/issues/24 */
.sek-sektion-inner{
  /*padding: 15px;*//* <= Needed for the placement of the ui icons container revealed on hover */
}

.sek-column {
  position: relative;
  /*padding: 23px 10px 0;*//* <= Needed for the placement of the ui icons container revealed on hover */
}

.sek-column-inner.sek-empty-col {
  min-height: 130px;
  height: 100%;
}
.sek-has-modules .sek-column-inner.sek-empty-col {
  min-height: auto;
  height: auto;
}

.sek-module {
  position: relative;
  /*z-index: 4;*/
}/* <= Needed for the placement of the ui icons container revealed on hover */
.sek-module-inner {
  position: relative;
  /* Smoothify the changes done when customizing this selector */
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all, 0.25s ease-in-out;
  -ms-transition: all, 0.25s ease-in-out;
  -o-transition: all, 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}




/* LEVELS WRAPPER ANIMATION WHEN CUSTOMIZING
  For example when setting border radius
*/
[data-sek-level]:not([data-sek-bg-parallax]) {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* the preview action is added as a css class to the body while being processed
@see sek-preview::schedulePanelMsgReactions */
.sek-duplicate [data-sek-level], .sek-remove [data-sek-level], .sek-refresh-stylesheet [data-sek-level]{
  -webkit-transition: inherit!important;
  -o-transition: inherit!important;
  transition: inherit!important;
}

/* MODULES SPECIFICS WHEN CUSTOMIZING */
/* TinyMce block outline */
.sek-module [data-sek-input-type="detached_tinymce_editor"]:hover {
  outline: 1px solid #1d85bb;
}
/* Make sure tinyMce module is always accessible
  see https://github.com/presscustomizr/nimble-builder/issues/243
*/
.sek-module [data-sek-input-type="detached_tinymce_editor"] {
  min-height: 30px
}



/* MAKE SURE WE CAN SEE THE LEVELS, EVEN IF SETUP TO BE HIDDEN WITH THE CURRENT PREVIEWED DEVICE */
@media (min-width:767px){
  [data-sek-level="location"] .sek-hidden-on-desktops {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  -webkit-filter: grayscale(30%);
      filter: grayscale(30%);
-webkit-filter: gray;
        filter: gray;
    /*-webkit-filter:blur(1px);
    filter: blur(1px);*/
    opacity: 0.8;
  }
}
@media (min-width:575px) and (max-width:768px){
  [data-sek-level="location"] .sek-hidden-on-tablets {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
-webkit-filter: gray;
      filter: gray;
  /*-webkit-filter:blur(1px);
    filter: blur(1px);*/
    opacity: 0.8;
  }
}
@media (max-width:575px){
  [data-sek-level="location"] .sek-hidden-on-mobiles {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
-webkit-filter: gray;
      filter: gray;
   /* -webkit-filter:blur(1px);
    filter: blur(1px);*/
    opacity: 0.8;
  }
}

















/* PREVIEW UI BLOCKS */
.sek-dyn-ui-wrapper {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    color: #fff;
    background: rgba(190, 239, 255, 0);
    border-radius: 4px;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}
.sek-dyn-ui-wrapper,
.sek-dyn-ui-wrapper * {
  text-shadow: none;
  -webkit-touch-callout: none;
}
.sek-dyn-ui-inner {
    position: absolute;
    /*top: -18px;*/
    /*opacity: 0.8;*/
    -webkit-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
.sek-dyn-ui-inner.sek-is-expanded {
  display: block!important;
  z-index: 2000!important;
}
.sek-dyn-left-icons {
    left: 0;
}
.sek-dyn-right-icons {
    right: 0;
}
.sek-dyn-ui-inner:hover {
    opacity: 1;
}


.sek-dyn-ui-wrapper-active {
  position: relative;
}
.sek-dyn-ui-icons {
  background: #00A0D2;
  float: left;
  min-height: 18px;
  /*margin: -1px -1px 0;*/
  padding: 0 4px;
  text-shadow: none;
  font-size: 1em;
}

.sek-dyn-ui-icons > span {
  display: block;
  float: left;
}
.sek-dyn-ui-icons i {
  color: #fff !important;
  cursor: pointer;
  float: left;
  font-size: 1em;
  height: 1.4em;
  line-height: 1.4em;
  opacity: 0.8;
  text-align: center;
  width: 1em;
}
.sek-dyn-left-icons .sek-dyn-ui-icons i, .sek-dyn-right-icons .sek-dyn-ui-icons i {
    /*margin: 0px 5px;*/
    margin: 0 0.30em;
}
.sek-dyn-ui-icons i:hover {
  opacity: 1;
}
/*.sek-dyn-ui-icons > i:first-child {
  padding-left: 4px;
}
.sek-dyn-ui-icons > i:last-child {
  padding-right: 2px;
}*/
.sek-dyn-ui-icons .fa-arrows-alt {
  cursor: move;
}

/* add space between the remove icons and the other */
.sek-dyn-ui-icons [data-sek-click-on="remove"] {
    /*padding-left: 9px;*/
    padding-left: 0.42em;
    margin-left: 0px;
    width: 1.6em!important;
    border-left: 1px dotted white;
}
.sek-dyn-ui-icons [data-sek-click-on="pick-content"] {
    /*padding-left: 9px;*/
    padding-left: 0.42em;
    margin-left: 0px;
    width: 1.6em!important;
    border-left: 1px dotted #fff;
}
.sek-dyn-ui-location-type {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 0 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 11px;
    line-height: 16px;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    text-indent: 0px;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    right: 0;
    cursor: pointer;
    opacity: 0.75;
}
.sek-dyn-ui-location-type:hover {
  opacity: 1;
}
.sek-dyn-ui-location-inner {
  padding: 3px 0;
}
.sek-minimize-ui {
  float: left;
  text-align: center;
  width: 16px;
  padding: 3px;
}
/*.sek-dyn-ui-level-type {
  cursor: -webkit-grab;
}*/

/* Default font-size */
/* fixes https://github.com/presscustomizr/nimble-builder/issues/270 */
.sek-section-dyn-ui, .sek-column-dyn-ui, .sek-module-dyn-ui {
  font-size: 16px;
}

/* ADAPT THE UI ICONS SIZES WHEN COLUMNS ARE BECOMING NARROWS */
.sek-shrink-my-ui > .sek-section-dyn-ui,
.sek-shrink-my-ui > .sek-column-dyn-ui,
.sek-shrink-my-ui .sek-module-dyn-ui {
  /* was 0.7rem, fixes https://github.com/presscustomizr/nimble-builder/issues/270 */
  font-size: 11px;
}

/* ADAPT THE UI HAMB MENU WHEN COLUMNS ARE BECOMING NARROWS */
.sek-shrink-my-ui > .sek-section-dyn-ui .sek-ham__toggler-spn-wrapper,
.sek-shrink-my-ui > .sek-column-dyn-ui .sek-ham__toggler-spn-wrapper,
.sek-shrink-my-ui > .sek-module-dyn-ui .sek-ham__toggler-spn-wrapper {
  height: 8px;
  width: 16px;
}

.sek-shrink-my-ui > .sek-section-dyn-ui .sek-ham__toggler-spn-wrapper .line,
.sek-shrink-my-ui > .sek-column-dyn-ui .sek-ham__toggler-spn-wrapper .line,
.sek-shrink-my-ui .sek-module-dyn-ui .sek-ham__toggler-spn-wrapper .line  {
  width: 15px;
  height: 1px;
}

.sek-shrink-my-ui > .sek-section-dyn-ui .sek-dyn-ui-location-type:hover .line,
.sek-shrink-my-ui > .sek-column-dyn-ui .sek-dyn-ui-location-type:hover .line,
.sek-shrink-my-ui .sek-module-dyn-ui .sek-dyn-ui-location-type:hover .line {
  width: 16px;
  -webkit-transform: translate(-1px, 0);
    transform: translate(-1px, 0);
}

.sek-shrink-my-ui > .sek-section-dyn-ui .sek-dyn-ui-location-type,
.sek-shrink-my-ui > .sek-column-dyn-ui .sek-dyn-ui-location-type,
.sek-shrink-my-ui .sek-module-dyn-ui .sek-dyn-ui-location-type {
  font-size: 10px;
  line-height: 11px;
}


/* SECTION UI*/
/* prevent style propagation to nested levels with > */
.sek-section > .sek-dyn-ui-wrapper .sek-dyn-ui-icons, .sek-section > .sek-dyn-ui-wrapper .sek-dyn-ui-location-type {
  background: #000;
  opacity: 0.75;
}
.sek-section > .sek-section-dyn-ui .sek-dyn-ui-inner {
  /*bottom: 0%;*/
  z-index: 1001;
  display: none;
}
.sek-section > .sek-dyn-ui-wrapper .sek-dyn-ui-icons:hover {
  opacity: 1;
}
.sek-section > .sek-dyn-ui-wrapper .sek-dyn-ui-location-type {
  z-index: 1000;
  position: relative;
  float: left;
}
.sek-section[data-sek-is-nested="true"] > .sek-dyn-ui-wrapper .sek-dyn-ui-location-type {
  z-index: 1002;
}
.sek-section-dyn-ui {
    border: 2px dotted #000;
}
.sek-section > .sek-section-dyn-ui .sek-dyn-ui-inner {
  top: -1px;
  z-index: 1000;
}
/* When the section is nested, we need space on top to see the parent section ui */
.sek-section[data-sek-is-nested="true"] > .sek-section-dyn-ui .sek-dyn-ui-inner {
  top: 18px;
}
.sek-section.sek-highlight-active-ui {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
/*.sek-column .sek-dyn-ui-hamb-menu-wrapper, .sek-column .sek-dyn-ui-level-type {
  float: right;
}
.sek-column .sek-dyn-ui-level-type {
  padding-right: 0.5em;
}

*/
.sek-section > .sek-dyn-ui-wrapper .sek-dyn-ui-location-inner {
  float: left;
}

.sek-section > .sek-dyn-ui-wrapper .sek-dyn-ui-hamb-menu-wrapper, .sek-section > .sek-dyn-ui-wrapper .sek-dyn-ui-level-type {
  float: left;
}
.sek-section > .sek-dyn-ui-wrapper .sek-dyn-ui-level-type {
  padding-left: 0.5em;
}




/* COLUMN UI*/
/* prevent style propagation to nested levels with > */
.sek-column > .sek-column-dyn-ui .sek-dyn-ui-inner {
  bottom: 0%;
  z-index: 1002;
  display: none;
}
.sek-column > .sek-dyn-ui-wrapper .sek-dyn-ui-icons, .sek-column > .sek-dyn-ui-wrapper .sek-dyn-ui-location-type {
  background: #00b846;
}
.sek-column > .sek-dyn-ui-wrapper .sek-dyn-ui-location-type {
  z-index: 1001;
  bottom: 3px;
}
/* when a column has nested section(s), its ui might be hidden by deeper columns.*/
/* that's why a CSS class is added to position it on the top right corner, instead of bottom right*/
/* @see https://github.com/presscustomizr/nimble-builder/issues/488*/
.sek-column > .sek-dyn-ui-wrapper.sek-col-has-nested-section .sek-dyn-ui-location-type {
    top: 0px;
    bottom: auto;
}
.sek-column > .sek-column-dyn-ui.sek-col-has-nested-section .sek-dyn-ui-inner {
  top: 0%;
  bottom: auto;
  z-index: 1002;
  display: none;
}

.sek-column-dyn-ui {
    border: 2px dotted #00b846;
    /* was 1rem, fixes https://github.com/presscustomizr/nimble-builder/issues/270 */
    font-size: 16px;
}
.sek-column-dyn-ui .dev-level-data {
  background: #0085ba;
}
/*.sek-column [data-sek-click-on="add-section"] {
  padding-left: 11px!important;
  border-left: 1px solid #c5c5c5;
  margin-left: 4px!important;
  width: 27px;
}*/

.sek-column.sek-highlight-active-ui {
    -webkit-box-shadow: 0 0 2px rgba(0, 184, 70, 0.8);
    box-shadow: 0 0 2px rgba(0, 184, 70, 0.8);
}
.sek-column > .sek-dyn-ui-wrapper .sek-dyn-ui-hamb-menu-wrapper, .sek-column > .sek-dyn-ui-wrapper .sek-dyn-ui-level-type {
  float: right;
}
.sek-column > .sek-dyn-ui-wrapper .sek-dyn-ui-level-type {
  padding-right: 0.5em;
}

.sek-column > .sek-dyn-ui-wrapper .sek-dyn-ui-location-inner {
  float: left;
}




/* MODULE UI*/
/* prevent style propagation to nested levels with > */
/*.sek-module {
  min-height: 50px
}*/
.sek-module:hover{
  cursor:pointer;
}
.sek-module > .sek-dyn-ui-wrapper .sek-dyn-ui-inner {
  bottom: 0;
  z-index: 1006;
  display: none;
}
.sek-module > .sek-dyn-ui-wrapper .sek-dyn-ui-icons, .sek-module > .sek-dyn-ui-wrapper .sek-dyn-ui-location-type{
  background: #0085ba;
}
.sek-module > .sek-dyn-ui-wrapper .sek-dyn-ui-location-type {
  left: 0;
  top: auto;
  bottom: 0;
  right: auto;
  z-index: 1005;
}
.sek-module-dyn-ui {
    border: 2px dotted #0085ba;
    /* was 1rem, fixes https://github.com/presscustomizr/nimble-builder/issues/270 */
    font-size: 16px;
}

.dev-level-data {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000000;
    padding: 1px 12px;
    font-size: 11px;
}

.sek-module-dyn-ui .dev-level-data {
  background: #c68f00;
  right: 0;
  left: unset;
}
.sek-module.sek-highlight-active-ui {
    -webkit-box-shadow: 0 0 2px rgba(0, 133, 186, 0.8);
    box-shadow: 0 0 2px rgba(0, 133, 186, 0.8);
}
.sek-module > .sek-dyn-ui-wrapper .sek-dyn-ui-hamb-menu-wrapper, .sek-module > .sek-dyn-ui-wrapper .sek-dyn-ui-level-type {
  float: left;
}
.sek-module > .sek-dyn-ui-wrapper .sek-dyn-ui-level-type {
  padding-left: 0.5em;
}

.sek-module > .sek-dyn-ui-wrapper .sek-dyn-ui-location-inner {
  float: left;
}




/* HAMBURGER MENU */
.sek-ham__toggler-spn-wrapper {
    height: 10px;
    position: relative;
    width: 16px;
    display: block;
}
.sek-ham__toggler-spn-wrapper .line.line-1 {top: 10%;}
.sek-ham__toggler-spn-wrapper .line.line-2 {top: 60%;}
.sek-ham__toggler-spn-wrapper .line.line-3 {top: 110%;}

.sek-ham__toggler-spn-wrapper .line {
    background: #ffffff;
    display: block;
    width: 16px;
    height: 2px;
    position: absolute;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.sek-dyn-ui-location-type:hover .line {
    /*background-color: rgba(49, 49, 49, 0.7);*/
    -webkit-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
    width: 20px;
}
/*.sek-dyn-ui-hamb-menu-wrapper:not(.sek-collapsed) .line-1 {
    -webkit-transform: translate(-3px, 6px) rotate(45deg);
    transform: translate(-3px, 6px) rotate(45deg);
    width: 28px;
}
.sek-dyn-ui-hamb-menu-wrapper:not(.sek-collapsed) .line-2 {
    opacity: 0;
}
.sek-dyn-ui-hamb-menu-wrapper:not(.sek-collapsed) .line-3 {
    -webkit-transform: translate(-3px, -6px) rotate(-45deg);
    transform: translate(-3px, -6px) rotate(-45deg);
    width: 28px;
}
*/









/* WP-CONTENT BLOCK UI */
.sek-wp-content-wrapper {
  cursor: pointer;
  position: relative;
}
/* prevent element in the wp content to be displayed out of the wp-content-wrapper when previewing
@fixes https://github.com/presscustomizr/nimble-builder/issues/29
*/
.sek-wp-content-wrapper:after {
  content: '';
  display: block;
  clear: both;
}
.sek-wp-content-wrapper:hover {
  outline: 2px dashed #036697;
}

.sek-wp-content-wrapper > .sek-dyn-ui-wrapper .sek-dyn-ui-location-type {
    left: auto;
    right: 0;
    z-index: 1005;
    background: #036697;
}
.sek-wp-content-wrapper .sek-dyn-ui-icons {
  background-color: #036697;
}
.sek-wp-content-wrapper .sek-dyn-ui-inner {
  top:0px;
  z-index: 1005;
}
.sek-wp-content-dyn-ui {
    /*border: 1px dotted #0085ba;*/
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    /* was 1rem, fixes https://github.com/presscustomizr/nimble-builder/issues/270 */
    font-size: 16px;
}















/* This is printed when the location has no section
 an add content button is rendered on hovering in this container */
.sek-empty-location-placeholder {
  position: relative;
  min-height: 50px;
  margin:20px 0;
  border-radius: 5px;
  text-align: center;
}
[data-sek-is-header-location="true"] > .sek-empty-location-placeholder, [data-sek-is-footer-location="true"] > .sek-empty-location-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #eee;
  line-height: 45px;
  font-size: 20px;
}
.sek-header-footer-location-placeholder {
  opacity: 1;
  -webkit-transition: opacity ease 0.4s;
    -o-transition: opacity ease 0.4s;
    transition: opacity ease 0.4s;
}
.sek-header-footer-location-placeholder .sek-nimble-icon img {
    width: 30px;
    height: 30px;
    position: relative;
    top: -2px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: gray;
    filter: gray;
}
.sek-empty-location-placeholder:hover .sek-nimble-icon img {
    -webkit-filter: none;
    filter: none;
    -webkit-filter: none;
    filter: none;
}
.sek-empty-location-placeholder:hover .sek-header-footer-location-placeholder {
  opacity: 0.6;
}
.sek-empty-location-placeholder:hover {
  outline: 2px dotted #000000;
}

.sek-add-button-wrapper {
  text-align: center;
  width: 100%;
  /* was 1rem, fixes https://github.com/presscustomizr/nimble-builder/issues/270 */
  margin: 16px 0;
  position: relative;
}







/* DRAG AND DROP */
/* Drop zone for first module */
.sek-no-modules-column {
  position: relative;
  height: 100%;
    /*top: 30px;*/
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.sek-module-drop-zone-for-first-module {
    text-align: center;
    border: 1px dotted #ccc;
    background: #eee;
    /*background: rgba(238, 238, 238, 0.84);*/
    background: rgba(0, 0, 0, 0.10);
    height: 100%;
    min-height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}
.sek-module-drop-zone-for-first-module:hover {
    background: rgba(0, 0, 0, 0.50);
}

.sek-module-drop-zone-for-first-module:hover [data-sek-click-on="pick-content"]{
    color: #fff;
}


.sek-module-drop-zone-for-first-module [data-sek-click-on="pick-content"] {
  cursor: pointer;
  width: 50px;
  height: 50px;
  /*color: #0085ba;
  color: rgba(0, 133, 186, 0.6);*/
  color: #535353;
  border-radius: 30px;
  -webkit-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
  -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sek-module-drop-zone-for-first-module [data-sek-click-on="pick-content"]:hover {
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
  /*color: #0085ba;*/
  color: #fff;
}

/* Adapt the size when columns are too narrow */
.sek-col-8 [data-sek-click-on="pick-content"],
.sek-col-9 [data-sek-click-on="pick-content"],
.sek-col-10 [data-sek-click-on="pick-content"],
.sek-col-11 [data-sek-click-on="pick-content"],
.sek-col-12 [data-sek-click-on="pick-content"],
.sek-col-14 [data-sek-click-on="pick-content"],
.sek-col-16 [data-sek-click-on="pick-content"],
.sek-col-20 [data-sek-click-on="pick-content"],
.sek-col-25 [data-sek-click-on="pick-content"] {
  /* was 0.9rem, fixes https://github.com/presscustomizr/nimble-builder/issues/270 */
  font-size: 14px;
/*  width: 35px;
  height: 35px;
  padding-top: 11px;*/
}


/*.sek-module-drop-zone-for-first-module [data-sek-click-on="pick-content"]:hover {
  font-size: 27px;
}*/


.sek-sortable-overing > .sek-no-modules-column { display: none; }


/* This is the selector for all eligible drop zones */
.sek-drop-zone {
  -webkit-transition: opacity, height, background 0.4s ease;
  -o-transition: opacity, height, background 0.4s ease;
  transition: opacity, height, background 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* flex-direction: column; */
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
/* When trying to drop content in an drop zone not allowed */
.sek-no-drop-possible-message {
  margin: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #004085;
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: .25rem;
  font-size: 16px;
  line-height: 1.5em;
  max-width: 80%;
}



/* DYNAMIC DROP ZONES ON DRAG START + DRAGGING BEHAVIOUR */
/* hide empty column content when attempting to drop */

/*
 the class .sek-active-drop-zone is added when entering / overing the drop target
 and removed when leaving the drop element
 */
.sek-active-drop-zone.sek-module-drop-zone-for-first-module [data-sek-click-on="pick-content"] {
  display: none;
}
.sek-dynamic-drop-zone {
  opacity: 0;
}
.sek-active-drop-zone.sek-dynamic-drop-zone {
  height: auto!important;
  min-height : 50px;
}

/* DRAG PHASE */
/* Hide the + icon and the injection instruction during a drag phase */
.sek-dragging .sek-module-drop-zone-for-first-module [data-sek-click-on="pick-content"] {
  display: none;
}
.sek-dragging .sek-drop-zone .sek-injection-instructions {
  display: none!important;
}
/*
 the class .sek-active-drop-zone is added when appending the pre drop elemnt
 and removed when leaving the drop element
 */
.sek-dragging [data-sek-location="between-sections"].sek-dynamic-drop-zone {
  height: 15px;
}

.sek-dragging .sek-dynamic-drop-zone {
  height: 5px;
  -webkit-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
  /*background: #eee;*/
  /*border:2px dotted #a2a2a2;*/
  border:2px dotted #72777c;
  background: #ddd;
  border-radius: 5px;
}
.sek-dragging .sek-drop-zone {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.sek-dragging [data-sek-location="between-sections"], .sek-dragging [data-sek-location="in-empty-location"]{
  background: #ddd;
  border:2px dotted #72777c;
}

.sek-dragging .sek-drag-is-approaching.sek-dynamic-drop-zone {
  height: 20px;
}
.sek-dragging .sek-drag-is-close.sek-dynamic-drop-zone {
  height: 55px;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.sek-dragging .sek-drag-is-very-close.sek-dynamic-drop-zone {
  height: 55px;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.sek-dragging .sek-drag-is-in.sek-dynamic-drop-zone {
  height: 100px;
  -webkit-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
.sek-dragging .sek-feed-me-seymore {
  -moz-box-shadow:    inset 0 0 30px #000000;
  -webkit-box-shadow: inset 0 0 30px #000000;
  box-shadow:         inset 0 0 30px #000000;
}
.sek-dragging [data-sek-location="between-modules-and-nested-sections"], .sek-dragging .sek-module-drop-zone-for-first-module {
  background: #dcefff;
  background: rgba(220, 239, 255, 0.84);
  border:2px dotted #1d85bb;
  border-radius: 5px;
}



/* DRAG DROP
/* When dragging, make the drop zone easier to find
.sek-dragging-element is added / removed on sortable start / stop
*/
.sek-dragging-element .sek-column-inner,
.sek-dragging-element .sek-sektion-inner {
  min-height: 50px;
}
.sek-module-placeholder-content {
  text-align: center;
  text-transform: uppercase;
}
.sek-module-placeholder-content > p {
  padding: 35px 10px;
}






/* ADD CONTENT BUTTON */
.sek-add-content-button {
    /*position: relative;*/
    position: absolute;
    top: 0px;
    /*right: 50%;*/
    width: 100%;
    z-index: 1001;
    /*transition: .1s ease-in-out;*/
    display: none;
}


/* when inserted in an empty location placeholder, center vertically */
.sek-empty-location-placeholder .sek-add-content-button {
  top: 50%
}
.sek-add-content-button.is_last {
    bottom: 0;
    top: unset;
}




  /*body:hover .sek-add-content-button-wrapper {
      opacity: 1;
  }*/

.sek-add-content-button-wrapper {
  position: relative;
  top: -5px;
  width: 100%;
  border: 1px dashed #ccc;
  height: 10px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .35s ease-in-out;
  -o-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
.is_last .sek-add-content-button-wrapper {
  top: 10px;
}
.sek-mouse-is-close .sek-add-content-button-wrapper {
  border: 1px dashed #333;
}
.sek-mouse-is-close .sek-add-content-button-wrapper .sek-add-content-btn {
  opacity: 1;
}
.sek-add-content-button-wrapper .sek-add-content-btn {
    margin: auto;
    padding: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1000px;
    width: 18px;
    height: 18px;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    font-size: 13px;
    overflow: hidden;
    -webkit-transition: width .5s ease,background-color .5s ease;
    -o-transition: width .5s ease,background-color .5s ease;
    transition: width .5s ease,background-color .5s ease;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    position: absolute;
    left: calc(50% - 12px);
    -webkit-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
    opacity: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 26px;
}
.sek-add-content-btn.sek-mouse-is-close {
    z-index: 10000;
}



.sek-add-content-btn:hover {
    width: 26px;
    height: 26px;
    --sek-add-content-btn-width: 65px;
    width: calc(var(--sek-add-content-btn-width) + 70px);
    /*transition: all .35s ease;*/
    background-color: #000;
    /*transition: opacity,background-color 0.35s ease-in-out;*/
    opacity: 1;
    left: calc(50% - var(--sek-add-content-btn-width));
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}
.sek-click-on-button-icon {
  line-height: 18px;
  width: 18px;
}
.sek-add-content-btn:hover .sek-click-on-button-icon {
  padding-left: 6px;
  font-size: 13px;
  line-height: 26px;
}

.action-button-text {
    visibility: hidden;
    display: none;
    white-space: nowrap;
    padding-left: 5px;
    padding-bottom: 2px;
    text-transform: none;
    letter-spacing: 0px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}

.sek-add-content-btn:not(.disabled):hover .action-button-text {
    visibility: visible;
    display: inline-block;
}

























/* SORTABLE */
.sortable-placeholder {
  /*animation: sortable-placeholder-pulse 2s infinite;*/
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #00A2D7;
  border-radius: 4px;
  color: #fff !important;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  margin: 10px;
  padding: 6px 8px 5px;
  position: relative;
  text-align: left;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  text-shadow: none;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;
}
/*
@keyframes sortable-placeholder-pulse {
  0% {background-color: #00A2D7;}
  50% {background-color: #79DEFF;}
  100% {background-color: #00A2D7;}
}*/

/* class in-new-sektion is added dynamically when entering / overing the target */
.in-new-sektion.sortable-placeholder{
  background: #72777c;
}


/* class .sek-moving-section is toggled on sortable start/stop */
.sek-moving-section [data-sek-level="location"] {
  background: #ddd;
  border:2px dotted #72777c;
  border-radius: 5px;
}
.sek-moving-section .sek-empty-location-placeholder {
  display: none;
}



.sek-sortable-section-over .sortable-placeholder {
   background: #72777c;
}





/* RESIZABLE */
.ui-resizable-helper { border: 2px dotted #00b846; }
[data-sek-level="column"] .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -4px;
  font-size: 0.55em;
}
[data-sek-level="column"] .ui-resizable-e i {
    background: #00b846;
    border-radius: 12px;
    color: white;
    padding: 2px;
    width: auto;
    display: none;
}
[data-sek-level="section"]:hover .ui-resizable-e {
  background: #d5d5d573;
  background: rgba(213, 213, 213, 0.42);
}
[data-sek-level="section"]:hover .ui-resizable-e i {
    display: block;
}



[data-sek-level="column"] .ui-resizable-handle {
  /*z-index: 90;*/
  /* border: 1px dashed #d5dadf; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}










/* REFRESHING A LEVEL */
.sek-refreshing, .sek-blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all, 0.3s ease-in-out;
  -ms-transition: all, 0.3s ease-in-out;
  -o-transition: all, 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*position: absolute*/
}
.sek-level-clone {
  position: absolute!important;
  z-index: 10000;
}
.sek-level-clone::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.5;
}


/* FULL PAGE LOADER WRAPPER */
#nimble-full-page-loader-wrapper {
  height: 100vh;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  z-index: 20;
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all, 0.3s ease-in-out;
  -ms-transition: all, 0.3s ease-in-out;
  -o-transition: all, 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* visibility: hidden; */
  opacity: 0.3;
  top: 0%;
  background: rgba(0, 0, 0, 0.80);
  padding: 2px;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* flex-direction: column; */
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}


/* CSS LOADER */
@-webkit-keyframes sek-mr-loader {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}

@keyframes sek-mr-loader {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}
.sek-css-loader {
  display: none;
  width: 50px;
  height: 50px;
/*  background-color: #333;*/
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
}

.csstransforms3d .sek-css-loader {
  display: block;
}

.sek-mr-loader > div:nth-child(0) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sek-mr-loader > div:nth-child(1) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sek-mr-loader > div:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sek-mr-loader > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sek-mr-loader > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  /*top: -4%;
  left: -4%;*/
  top: -0%;
  left: -0%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #777;
  -webkit-animation: sek-mr-loader 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  animation: sek-mr-loader 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}

.white-loader > .sek-mr-loader > div {
  border: 2px solid #fff;
}
/*
html.no-js [id*=sek-slider-loader-wrapper] {
  display: none;
}

.sek-slider-loader-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  background: #ffffff;
}*/




/* STYLE LINKS */
.nimble-unclickable{cursor: not-allowed !important;}
.nimble-shift-clickable{cursor: alias!important;}


/* STYLE FOR GLOBAL LOCATIONS AND SECTIONS */
[data-sek-is-global-location="true"] .sek-empty-location-placeholder:hover {
  outline: 2px dotted #ff0000;
}
[data-sek-is-global-location="true"] .sek-add-content-button-wrapper {
  border: 1px dashed #ff7878
}
[data-sek-is-global-location="true"] .sek-mouse-is-close .sek-add-content-button-wrapper {
  border: 1px dashed #ff0000;
}
/* Add content btn for global sections */
[data-sek-is-global-location="true"] .sek-add-content-button-wrapper .sek-add-content-btn {
  background-color: #ff0000;
}

[data-sek-is-global-location="true"] .sek-module-drop-zone-for-first-module {
  border: 1px dotted #ff0000;
}

[data-sek-is-global-location="true"] .sek-section > .sek-dyn-ui-wrapper .sek-dyn-ui-icons, [data-sek-is-global-location="true"] .sek-section > .sek-dyn-ui-wrapper .sek-dyn-ui-location-type {
  background: #ff0000;
  opacity: 0.75;
}

/* STYLE FOR FOOTER LOCATION */
[data-sek-is-footer-location="true"] {
  margin-bottom:40px;
}
[data-sek-is-header-location="true"] {
  margin-top:0;
}





/* DOUBLE CLICK CONTENT INJECTION => HIGHLIGHT OF THE TARGET + REVEAL INSTRUCTIONS + HIDE + BUTTON */
/*implemented for double-click insertion
https://github.com/presscustomizr/nimble-builder/issues/317 */
@keyframes sek-target-highlight {
  0% {background-color: #0085ba;}
  50% {background-color: #00A0D2;}
  100% {background-color: #0085ba;}
  /*0% {background-color: #eee;}
  50% {background-color: #b4b3b3;}
  100% {background-color: #eee;}*/
}
.sek-target-for-double-click-insertion .sek-drop-zone {
  /*height : 20px;*/
  animation: sek-target-highlight 3s infinite;
  background-color: #eee;
}
.sek-injection-instructions {
  display: none;
  font-size: 13px;
  line-height: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #ffffff;
  padding: 4px;
  /* the following rules fix https://github.com/presscustomizr/nimble-builder/issues/437 */
  overflow: hidden;
  max-width: 80%;
  max-height: 100%;
  min-height: 50px;
    -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
    -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
}
.sek-shrink-my-ui .sek-injection-instructions {
  font-size: 10px;
}
.sek-target-for-double-click-insertion .sek-drop-zone .sek-injection-instructions {
  /*display: inline-block;*/
  /* the following rules fix https://github.com/presscustomizr/nimble-builder/issues/437 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sek-target-for-double-click-insertion .sek-drop-zone [data-sek-click-on="pick-content"]{
  /*display: none;*/
  visibility: hidden;
}




/* PLACEHOLDER STYLE FOR TINYMCE MODULE */
.sek-tiny-mce-module-placeholder-text {
  padding:10px;
  border: 1px dotted;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  font-size:1rem;
  line-height: 1.5rem;
}

/* PLACEHOLDER FOR POST GRID */
.sek-module-placeholder.sek-post-grid {
  font-size: 150px;
}

/* PLACEHOLDERS */
[data-sek-module-type] .sek-mod-preview-placeholder {
  height: 150px;
  background: #eee;
}
[data-sek-module-type] .sek-mod-preview-placeholder .sek-preview-ph-text {
  font-size:25px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

[data-sek-module-type] .sek-mod-preview-placeholder .sek-preview-ph-text > p { padding: 10px;position: relative;margin: 0;color:#767676 }
[data-sek-module-type] .sek-mod-preview-placeholder .sek-preview-ph-text::before {
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        background-color: #ffffff;
        opacity: 0.6;
}